@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.budget-container {
	width: 85%;
	float: right;
	background: #e5e5e5;
	min-height: 100vh;
	max-height: 100%;
}

/* ---------------------------top-section styling starts here------------------------------- */
.top-section {
	height: 160px;
	width: 97%;
	border-radius: 5px;
	margin: 2rem auto;
	background-image: url("../../assets/budget-topBar.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-section > div {
	margin: 0 40px;
	z-index: 99999;
}

.top-section > div h2 {
	font-weight: bold;
	font-size: 1.4rem;
	color: #ffffff;
	margin-bottom: 0;
}

.top-section > div h5 {
	font-weight: bold;
	font-size: .9rem;
	color: #ffffff;
}

.top-section h4 {
	background: #ffaa00;
	color: #464242;
	border: 2px solid #ffaa00;
	border-radius: 5px;
	font-size: .9rem;
	text-align: center;
	margin: auto 59px;
	padding: .7rem .8rem;
}

.top-section h4:hover {
	background: #ffbc21;
	border: 2px solid #ffbc21;
	color: #000000;
	cursor: pointer;
}

/* ---------------------------archive. recent button styling starts here------------------------------- */

.box-section {
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-section > div {
	display: flex;
}

.box-section > div h4 {
	background: #ffffff;
	border: 1px solid #e0e3e8;
	border-radius: 5px;
	font-size: .9rem;
	color: #404040;
	margin-right: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-section > div h4:nth-child(1) {
	padding: .6rem 1.5rem;
}

.box-section > div h4:nth-child(2) {
	padding: .6rem 1.5rem;
}

.box-section > div h4:hover {
	background: #ffffff;
}

.box-section h4 {
	font-size: .9rem;
	background: #0089b4;
	border: 1px solid #0089b4;
	border-radius: 5px;
	padding: .6rem 1.5rem;
	color: #ffffff;
}

.box-section h4:hover {
	background: #01617e;
	cursor: pointer;
}

.box-section #icon {
	font-size: 1rem;
	margin-top: 2px;
}

/* -------------------bugdet-section styling starts here------------------ */

.budget {
	margin: 1.3rem 2.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.budget .category {
	flex-grow: 1;
}

/* ------------------category bottom styling--------------------- */
.category table {
	background-color: #ffffff;
	border-radius: 4px;
	text-align: center;
}

.category table thead tr {
	background: rgba(170, 171, 173, 0.753);
	box-shadow: 0px 15px 35px rgba(73, 87, 94, 0.05);
}

.category table thead tr td {
	padding: 12px 0;
	border-bottom: 10px solid #e5e5e5;
	font-size: .9rem;
	color: #5b5c5f;
}

.category table thead tr td:nth-child(1) {
	padding-left: 20px;
}

.budget .category .table .shelf:hover {
	background: rgba(170, 171, 173, 0.685);
	cursor: pointer;
}

.category .table .shelf td {
	padding: 15px 20px;
}

.category .table .shelf td:nth-child(1) {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.category .table td #inpt {
	height: 2vh;
	width: 1vw;
	border-radius: 2px;
	border: 2px solid #d5d5d5;
	cursor: pointer;
}

.category .table td img {
	height: 1rem;
	width: 1.2rem;
	margin: 0 10px;
}

.category .table td p {
	font-size: .9rem;
	margin: auto 0;
	color: #000000;
}

.category .table #h3 {
	font-size: .9rem;
	margin: auto 0;
	color: #000000;
}

.category .table #h45 {
	font-size: .9rem;
	margin: auto 0;
	font-weight: 600;
	color: #355691;
}

.category .table #h4 {
	font-size: .9rem;
	margin: auto 0;
	font-weight: 600;
	color: #009a5b;
}

/* ------------------aside budget info------------------ */
.budget-info {
	width: 344.38px;
	height: auto;
	background: #ffffff;
	border-radius: 5px;
	margin-left: 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.budget-info .budget-info-content {
	padding: 3rem 1.5rem;
}

.budget-info .budget-info-content p {
	font-size: .9rem;
}

.budget-info .budget-info-content p span {
	font-weight: bold;
	padding: 0 .3rem;
	color: rgb(0, 161, 8);
}

.budget-info-content .chkBox {
	display: flex;
	margin: .5rem 0 1rem 0;
}

.budget-info-content .chkBox div {
	display: flex;
	align-items: center;
}

.budget-info-content .chkBox div #h4 {
	width: 9.6px;
	height: 9.6px;
	background: #d9dae1;
	border-radius: 50%;
	margin-right: .5rem;
}

.budget-info-content .chkBox div:nth-child(2) #h4 {
	background: #0089b4;
}

.budget-info-content .chkBox div h6 {
	font-size: .9rem;
	margin: auto 1rem auto 0;
}

.budget-info-content .sumSpent {
	display: flex;
	justify-content: space-between;
	background-color: #e8e8eb;
	padding: 1rem 20px;
	border-radius: 5px;
}

.budget-info-content .sumSpent div h6 {
	color: #19304d;
	font-size: .8rem;
}

.budget-info-content .sumSpent div h5 {
	color: #147efb;
	font-size: .9rem;
	text-align: center;
}

.budget-info-content .sumSpent div:nth-child(2) h5 {
	font-size: .9rem;
	color: #355691;
}

.edit-archive-bdgt {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.edit-archive-bdgt h3 {
	font-size: .9rem;
	background: #0089b4;
	border: 2px solid hsl(194, 100%, 32%);
	box-shadow: 0px 4px 10px rgba(0, 137, 180, 0.2);
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	color: #ffffff;
}

.edit-archive-bdgt h3:hover {
	background: #005b77;
}

.edit-archive-bdgt h3:nth-child(2) {
	background-color: transparent;
	color: #0089b4;
}

.edit-archive-bdgt h3:nth-child(2):hover {
	background: #0089b4;
	color: #ffffff;
}

.budget-info .budget-error {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.budget-info .budget-error p {
	font-size: .9rem;
	color: #666666;
	margin-top: 10px;
}

.budget-infos {
	display: none;
}

.success-info #font {
	font-size: 1.2rem;
	float: right;
	margin-bottom: .9rem;
	cursor: pointer;
}

.success-info center {
	clear: both;
}

.success-info #successFont {
	font-size: 4rem;
	margin-bottom: .4rem;
	color: green;
}

.success-info h1 {
	font-size: 1.2rem;
}

.noBudget {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-left: 45%;
}

.noBudget img {
	margin-top: 4rem;
}

.noBudget h5 {
	color: grey;
	font-size: 1rem;
	margin-top: .5rem;
	margin-bottom: 4rem;
}

/* ------------------mobile responsiveness styling starts here--------------------- */
@media screen and (max-width: 760px) {
	.budget-container {
		width: 100%;
		clear: both;
	}

	/* ---------------------------top-section styling starts here------------------------------- */
	.parent {
		margin: 75px 20px 20px 20px;
	}

	.top-section {
		height: 120px;
		width: 100%;
		margin: 0px;
		background-position: center;
	}

	.top-section > div {
		margin: 0 0 0 10px;
		height: 50%;
	}

	.top-section > div h2 {
		font-size: 1.3rem;
		margin-bottom: .2rem;
	}

	.top-section > div h5 {
		font-size: .7rem;
	}

	.top-section h4 {
		width: 28vw;
		font-size: .8rem;
		margin: auto 10px;
		padding: .4rem .5rem;
	}

	.box-section {
		padding: 0px;
	}

	.box-section > div h4 {
		background: #ffffff;
		border: 1px solid #e0e3e8;
		border-radius: 5px;
		font-style: normal;
		font-weight: normal;
		font-size: .8rem;
		color: #404040;
		margin-right: 7px;
	}

	.box-section > div h4:nth-child(1) {
		padding-right: .7rem;
		padding-left: .8rem;
	}

	.box-section > div h4:nth-child(2) {
		padding-right: .5rem;
		padding-left: .8rem;
	}

	.box-section h4 {
		padding-right: .8rem;
		padding-left: .8rem;
	}

	.budget {
		margin: 15px 0px;
	}

	/* ------------------category bottom styling--------------------- */
	.category {
		display: none;
	}

	/* ------------------aside budget info------------------ */
	.budget-info {
		display: none;
	}

	.budget-infos {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 999999;
		background-color: rgba(0, 0, 0, 0.561);
	}

	.budget-infos .budget-info-content {
		background-color: #ffffff;
		width: 80%;
		height: 50%;
		transform: translate(-13%, 50%);
		margin-left: auto;
		padding: 30px 20px;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
		animation: view-in ease-in 1s;
	}

	@keyframes view-in {
		0% {
			opacity: 0;
		}
		25% {
			opacity: 0.25;
		}
		50% {
			opacity: 0.5;
		}
		75% {
			opacity: 0.75;
		}
		100% {
			opacity: 1;
		}
	}

	.budget-infos .budget-info-content #font {
		float: right;
		margin-bottom: 1rem;
		cursor: pointer;
	}

	.budget-infos .budget-info-content p {
		clear: both;
		font-size: .9rem;
		margin-bottom: 2rem;
	}

	.budget-infos .budget-info-content p span {
		font-weight: bold;
		padding: 0 .3rem;
		color: rgb(0, 161, 8);
	}

	.budget-infos .budget-info-content .chkBox {
		display: flex;
		margin: .5rem 0 1rem 0;
	}

	.budget-infos .budget-info-content .chkBox div {
		display: flex;
		align-items: center;
	}

	.budget-infos .budget-info-content .chkBox div #h4 {
		width: 9.6px;
		height: 9.6px;
		background: #d9dae1;
		border-radius: 50%;
		margin-right: .5rem;
	}

	.budget-infos .budget-info-content .chkBox div:nth-child(2) #h4 {
		background: #0089b4;
	}

	.budget-infos .budget-info-content .chkBox div h6 {
		font-size: .9rem;
		margin: auto 1rem auto 0;
	}

	.budget-infos .budget-info-content .sumSpent {
		display: flex;
		justify-content: space-between;
		background-color: #e8e8eb;
		padding: 1rem 20px;
		border-radius: 5px;
	}

	.budget-infos .budget-info-content .sumSpent div h6 {
		color: #19304d;
		font-size: .8rem;
	}

	.budget-infos .budget-info-content .sumSpent div h5 {
		color: #147efb;
		font-size: .9rem;
		text-align: center;
	}

	.budget-infos .budget-info-content .sumSpent div:nth-child(2) h5 {
		font-size: .9rem;
		color: #355691;
	}

	.mobile-view-content img {
		height: 4vh;
		margin-right: .2rem;
	}
}
