@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.forgot-container {
	overflow: hidden;
	display: flex;
}

.forgot-container .left {
	width: 50%;
	height: 100vh;
	background: #2e41c0;
	padding: 34.51px 0 0 36px;
	position: relative;
}

.forgot-container .left .logo {
	height: 59.78px;
	width: 236.28px;
}

/* ----------------custom icon styling starts here---------------------- */

.forgot-container .left .flex-icons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.forgot-container .left .wallet-bg {
	width: 111.63px;
	height: 111.63px;
	background: #ffaa00;
	box-shadow: 0px 17.0538px 51.1615px rgba(0, 0, 0, 0.15);
	border-radius: 25.58px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 62.7px 0 0 50px;
	animation-name: bounce;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.forgot-container .left .wallet {
	height: 44.00377655029297px;
	width: 50px;
	color: #ffffff;
}

.forgot-container .left .goal-bg {
	width: 133.95px;
	height: 133.95px;
	background: #00c69e;
	box-shadow: 0px 17.0538px 51.1615px rgba(0, 0, 0, 0.15);
	border-radius: 25.58px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 142.7px 27.05px 0 auto;
	animation-name: bounce;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.forgot-container .left .goal {
	height: 57px;
	width: 57.02px;
	color: #ffffff;
}

.forgot-container .left .coin-bg {
	width: 134.54px;
	height: 134.54px;
	background: #27bbff;
	box-shadow: 0px 17.0538px 51.1615px rgba(0, 0, 0, 0.15);
	border-radius: 25.58px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px 0 0 31px;
	animation-name: bounce;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.forgot-container .left .coin {
	height: 48px;
	width: 55px;
	color: #ffffff;
}

/* --------------bouncing animations styling starts here-------------- */

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0);
	}
}

/* --------------bouncing animations styling ends here-------------- */

.forgot-container .left .flex-icons .man {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 584px;
	width: 584px;
	left: 68px;
}

/* ----------------custom icon styling ends here---------------------- */

.forgot-form {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.forgot-form h1 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: -0.04em;
	color: #222c6f;
	margin-bottom: 0;
}

.forgot-form h4 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.04em;
	color: #53697b;
	opacity: 70%;
	margin-bottom: 32px;
}

.forgot-form form .label {
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0.03em;
	color: #777777;
}

.forgot-form form .label:nth-child(2) {
	margin-bottom: 13.8px;
}

.forgot-form form .label input {
	display: block;
	height: 48px;
	width: 352.32px;
	margin-top: 11.4px;
	padding-left: 10px;
}

.forgot-form form .label input:active,
.forgot-form form .label input:focus {
	border: none;
	outline: 1.06448px solid #6e7fee;
	box-shadow: 0px 4.2579px 10.6448px #d2dafc;
}

.forgot-form form button {
	font-family: 'Poppins', sans-serif;
	background: #001ac6;
	backdrop-filter: blur(6.38686px);
	border-radius: 2.12895px;
	width: 100%;
	height: 48px;
	font-style: normal;
	font-weight: normal;
	font-size: 17.0316px;
	line-height: 22px;
	color: #ffffff;
	margin-top: 46.5px;
	cursor: pointer;
}

.forgot-form form button:hover {
	background-color: #07156e;
}

.forgot-container .foot-design {
	height: 100px;
	width: 100px;
	border: 4px solid #001ac6;
	border-right: none;
	border-bottom: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

.forgot-container .foot-design-sm {
	height: 55px;
	width: 55px;
	border: 4px solid #ffaa00;
	border-right: none;
	border-bottom: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

/* ---------------mobile responsiveness------------ */
@media screen and (max-width: 760px) {
	.forgot-container {
		position: relative;
		height: 100vh;
	}

	.forgot-container .left {
		display: none;
	}

	.forgot-form {
		width: 100%;
		height: 100%;
		clear: both;
		padding: 0px;
		background-image: url("../../../assets/logo-bg-white.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position-y: 100px;
	}

	.forgot-form > div {
		width: 85%;
	}

	.forgot-form h1 {
		font-size: 24px;
		line-height: 40px;
	}

	.forgot-form h4 {
		font-size: 14px;
	}

	.forgot-form form .label {
		font-size: 14px;
		margin-bottom: 0px;
		margin-top: 20px;
	}

	.forgot-form form .label input {
		display: block;
		height: 40px;
		width: 100%;
		margin-top: 6px;
		padding: 0 5px;
	}

	#errorMsg {
		font-size: 12px;
		letter-spacing: 0px;
	}

	.forgot-form form button {
		height: 40px;
		font-size: 14px;
		margin-top: 30px;
	}

	.forgot-container .foot-design {
		height: 90px;
		width: 90px;
	}
}
