@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.homeBody .new-main .what-people-say {
	background: transparent;
	padding: 0px;
	width: 28vw;
	color: #fff;
}

.homeBody .new-main .what-people-say div > div {
	border-bottom: none;
}

.what-people-say button {
	appearance: none;
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
	transition: all .5s ease;
	border: none;
	border-radius: 12px;
	background: rgba(125, 154, 240, 0.932);
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 200px;
	margin: 20px auto -20px auto;
	padding: 5px 20px;
	font-size: 13px;
}

.what-people-say button:hover {
	color: #ffffff;
	background: #222222;
	-webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.slider-wrapper {
	position: relative;
	height: 40vh;
	width: 100%;
	overflow: hidden;
}

.previousButton,
.nextButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: url('https://svgshare.com/i/Lwu.svg') no-repeat center center / 26px;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
	background: url('https://svgshare.com/i/Lwu.svg') no-repeat center center / 30px;
}

.previousButton {
	left: 0;
}

.previousButton:hover {
	left: -5px;
}

.nextButton {
	right: 0;
	transform: rotate(180deg) translateY(calc(50% + 0px));
}

.nextButton:hover {
	right: -5px;
}

.slider-content {
	text-align: center;
	height: 100%;
	margin-top: -20px;
}

.slider-content .inner {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

.slider-content .inner button {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.slider-content .inner h2 {
	max-width: 100%;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 10px;
}

.slider-content .inner span {
	margin-top: -20px;
	color: #fff;
}

.slider-content .inner p {
	font-size: 13px;
	margin: 10px 0 0 0;
	padding: 0 15px;
}

/* -----------------------mobile responsiveness styling  starts here---------------------------------- */

@media (max-width: 640px) {
	.slider-wrapper {
		width: 90vw;
	}

	.slider-content .inner h2 {
		font-size: 12px;
	}

	.slider-content .inner p {
		font-size: 10px;
	}

	.what-people-say button {
		font-size: 10px;
	}
}

@media (max-height: 600px) {
	.slider-content .inner h1 {
		font-size: 32px;
	}
}

@media (max-width: 640px) {
	.slider-content .inner h1 {
		font-size: 32px;
	}
}
