*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.chartBody {
	background-color: #fff;
	color: #102231;
	padding: 30px 30px;
}

.chartBody h2 {
	text-align: center;
    font-size: 14px;
    font-family: sans-serif;
	width: 100%;
	margin-bottom: 10px;
}

/* -----------users-satisfy----------------------- */
.chart {
	background-color: #fff;
	color: #102231;
	padding: 30px 0;
}

.chart h2 {
	text-align: center;
    font-size: 14px;
    font-family: sans-serif;
	width: 100%;
	margin-bottom: 10px;
}

/* -----------users-satisfy----------------------- */
