@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* --------------main container styling starts here----------------------- */
.sidemenu-container {
	width: 15%;
	height: 100vh;
	background-color: #ffffff;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.09);
	padding: 32px 0;
	position: fixed;
}

.sidemenu-container #side-logo {
	display: flex;
	margin: auto;
}

/* -------------------------------list styling starts here---------------------------------- */
.sidemenu-container ul {
	list-style: none;
}

.sidemenu-container .sidemenu-list .first {
	height: 48px;
	width: 210px;
	border-radius: 5px;
	background: #2e41c0;
	display: flex;
	margin: 50px auto 10px auto;
	padding: 15px;
}

.sidemenu-container .sidemenu-list .first img {
	color: #ffffff;
	margin-right: 23px;
	width: 16px;
	height: 16px;
}

.sidemenu-container .sidemenu-list .first li {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.01em;
}

.sidemenu-container .sidemenu-list div {
	display: flex;
	width: 210px;
	margin: 10px auto;
	padding: 15px;
}

.sidemenu-container .sidemenu-list div:hover {
	border-radius: 5px;
	width: 210px;
	background: #2e41c0;
	color: #ffffff;
	cursor: pointer;
}

.sidemenu-container .sidemenu-list div img {
	width: 16px;
	height: 16px;
}

.sidemenu-container .sidemenu-list div li {
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.01em;
}

.sidemenu-container #icon {
	width: 20px;
	margin-right: 23px;
}
/* -------------------------------list styling stops here---------------------------------- */

footer {
	position: absolute;
	bottom: 0;
}

footer .footer-list div {
	width: 210px;
	display: flex;
	margin: 10px 5px;
	padding: 10px 10px;
}

footer .footer-list div:hover {
	border-radius: 5px;
	background: #2e41c0;
	color: #ffffff;
	cursor: pointer;
}

footer .footer-list div img {
	height: 18px;
	margin-right: 23px;
	margin-left: 15px;
	width: 16px;
	height: 16px;
}

footer .footer-list div li {
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

footer #link {
	text-decoration: none;
	color: #000000;
}

footer .blue {
	position: relative;
	width: 70px;
	height: 100px;
	border: 7px solid #2564f7;
	opacity: 0.7;
	border-left: none;
	border-bottom: none;
	box-sizing: border-box;
	margin-top: 20px;
}

footer .orange {
	position: absolute;
	bottom: 0;
	width: 100px;
	height: 70px;
	border: 7px solid #ffaa00;
	opacity: 0.7;
	border-left: none;
	border-bottom: none;
	box-sizing: border-box;
}
