@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.edit-budget-container {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.212);
}

.edit-budget {
	background-color: #ffffff;
	width: 29.1%;
	height: 100vh;
	margin-left: auto;
	padding: 2rem 3rem;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation: slide-from-right ease-in-out 700ms;
}

@keyframes slide-from-right {
	0% {
		opacity: 0;
		margin-right: -300px;
	}
	25% {
		opacity: 0.25;
		margin-right: -200px;
	}
	50% {
		opacity: 0.5;
		margin-right: -100px;
	}
	75% {
		opacity: 0.75;
		margin-right: -50px;
	}
	100% {
		opacity: 1;
		margin-right: 0px;
	}
}

.edit-budget #font {
	font-size: 18px;
	color: #333758;
	margin-bottom: 3rem;
	float: right;
	cursor: pointer;
}

.edit-budget h1 {
	clear: both;
	font-size: 1.75rem;
	margin-bottom: 0px;
	letter-spacing: 0.5px;
	color: #333758;
}

.edit-budget h3 {
	font-size: .936rem;
	font-weight: 400;
	text-align: left;
	color: #333758;
	margin-top: 5px;
	margin-bottom: 3.36rem;
}

.edit-budget form label {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: .94rem;
	color: #253858;
	margin-bottom: .6rem;
}

.label-err {
	position: relative;
}

#errorMsg {
	position: absolute;
	top: 0;
}

.edit-budget form p {
	width: 100%;
	height: 3rem;
	background: rgba(52, 89, 214, 0.05);
	border: 1px solid #d1d9df;
	color: #5f6163;
	border-radius: 5px;
	margin-bottom: 39px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.edit-budget form input {
	width: 100%;
	height: 3rem;
	border: 1px solid #d1d9df;
	border-radius: 5px;
	margin-bottom: 2.4rem;
	padding: 0 10px;
}

.edit-budget > div h5 {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	color: #253858;
	margin-bottom: 11px;
}

.edit-budget > div > div {
	display: flex;
	background: #e7e7e7;
	border: 1px solid #bfbfbf;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 3.5rem;
}

.edit-budget > div > div .btn {
	width: 50%;
	height: 2.05rem;
	border: none;
	color: #253858;
	background: none;
	box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.07), 0px 4px 8px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	font-size: .81rem;
}

.edit-budget > div > div .active {
	color: #fffcfc;
	background: #1b7dbf;
	border: 1px solid #1b7dbf;
}

.edit-budget .date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.4rem;
}

.edit-budget .date h6 {
	font-style: normal;
	font-weight: 500;
	font-size: .94rem;
	line-height: 20px;
	color: #253858;
}

.edit-budget .startDate {
	margin-bottom: 1rem;
	float: left;
}

.edit-budget .startDate > div {
	display: flex;
	align-items: center;
	padding: 0 .8rem;
	border: 1px solid #d1d9df;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 1rem;
}

.edit-budget .startDate h6 {
	font-weight: 500;
	font-size: .94rem;
	color: #253858;
}

.edit-budget .startDate > div h6 {
	font-weight: 500;
	font-size: .94rem;
	color: #253858;
	margin: auto 0;
	padding: .7rem 0 .7rem .6rem;
	border-left: 1px solid #d1d9df;
}

.edit-budget .startDate > div img {
	margin-right: .8rem;
	cursor: pointer;
}

.edit-budget .create-cancel-btn {
	clear: both;
	display: flex;
	justify-content: space-between;
}

.edit-budget .create-cancel-btn button:active,
.edit-budget .create-cancel-btn button:focus {
	outline: transparent;
}

.edit-budget .create-cancel-btn button:nth-child(1) {
	width: 10.9rem;
	height: 3.1rem;
	background: #0025be;
	border: 1px solid #0025be;
	border-radius: 5px;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
	color: #fdfdfd;
}

.edit-budget .create-cancel-btn button:nth-child(1):hover {
	background: #051a70;
	border: 1px solid #051a70;
	cursor: pointer;
}

.edit-budget .create-cancel-btn button:nth-child(1):disabled {
	background-color: grey;
	border: 1px solid grey;
}

.edit-budget .create-cancel-btn button:nth-child(2) {
	width: 10.9rem;
	height: 3.1rem;
	background: transparent;
	border: 1px solid #979797;
	border-radius: 5px;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 19px;
	color: #52596b;
}

.edit-budget .create-cancel-btn button:nth-child(2):hover {
	cursor: pointer;
	color: #ffffff;
	background: #0025be;
	border: 1px solid #0025be;
}

/* -------------modal-success----------------- */
.edit-success {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
}

.edit-status {
	background-color: #ffffff;
	color: #000000;
	width: 30%;
	border-radius: 12px;
	padding: 40px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.edit-status #font {
	font-size: 1.2rem;
	float: right;
	cursor: pointer;
	margin-bottom: .5rem;
}

.edit-status #font:hover {
	background-color: #000000;
	color: #ffffff;
	border-radius: 5rem;
	padding: 2px;
}

.edit-status center {
	clear: both;
}

.edit-status #successFont {
	font-size: 5rem;
	margin-bottom: .3rem;
}

.edit-status h1 {
	font-size: 1.2rem;
	text-align: center;
}

.label-err {
	position: relative;
}

#errorMsg {
	position: absolute;
	top: 100%;
	font-size: .8rem;
	color: tomato;
	text-align: center;
}

/* ------------------mobile responsiveness styling starts here--------------------- */
@media screen and (max-width: 760px) {
	.edit-budget {
		width: 90%;
		height: 90%;
		transform: translate(-5%, 6%);
	}

	.edit-budget #font {
		font-size: 1rem;
	}

	.edit-budget form p {
		height: 2.5rem;
	}

	/* --------------------------drop-down content styling-------------------------- */
	.edit-budget form .dropdown-content {
		padding-top: 20px;
	}

	.edit-budget form .dropdown-content li {
		padding: .8rem 2rem;
		font-size: .8rem;
	}

	.edit-budget form .dropdown-content li .pen {
		height: 3em;
		width: 3em;
	}

	.edit-budget form .dropdown-content li .penn {
		height: 3.2em;
		width: 3em;
	}

	.edit-budget form .dropdown-content li:nth-child(1) {
		margin: 0 20px 10px 20px;
		padding-left: 5px;
		height: 2.5rem;
	}

	.edit-budget form .dropdown-content li:nth-child(1) img {
		height: 2vh;
		margin: auto 0 auto .5rem;
	}

	.edit-budget form .dropdown-content li:nth-child(1) input {
		width: 92%;
		font-size: .8rem;
	}

	/* --------------------------drop-down content styling stops here-------------------------- */

	.edit-budget form input {
		height: 2.5rem;
	}

	.edit-budget > div h5 {
		font-size: .9rem;
		line-height: 0;
	}

	.edit-budget > div > div {
		margin-bottom: 4rem;
	}

	.edit-budget .create-cancel-btn button:nth-child(1) {
		height: 3rem;
		font-size: .9rem;
		margin-right: 1rem;
	}

	.edit-budget .create-cancel-btn button:nth-child(2) {
		height: 3rem;
		font-size: .9rem;
		margin-left: 1rem;
	}

	.modal-status {
		width: 70%;
	}

	.edit-status {
		width: 80%;
	}
}
