/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); */

*,
*::before,
*::after {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.dash {
    width: 85%;
    float: right; 
    background: #E5E5E5;
    min-height: 100vh;
    max-height: 100%;
}

.dash .main-dash {
    padding: 20px;
}

.main-dash aside {
    background-color: blue;
    color: white;
    margin-left: auto;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
}

.main-dash h3 {
    display: inline-block;
}

.main-dash header {
    display: flex;
}

.main-dash header .first-box {
    position: relative;
}

.main-dash header .first-box h2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    font-size: 30px;
}

.main-dash header .green-box {
    background-color: green;
    width: 300px;
    height: 110px;
    border-radius: 5px;
    margin-left: 50px;
}

.main-dash header .green-box >div {
    width: 100%;
    height: 100%;
    background: url("../assets/Group\ 19789.png") no-repeat right;
    background-size: contain;
    z-index: 999999;
}