*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.homeBody {
	width: 78%;
	float: right;
	background-color: #102231;
	color: #ffffff;
	height: 100%;
	/* overflow: auto; */
}

.homeBody h1 {
	margin: 20px 0 10px 10px;
	font: normal 1.2rem sans-serif;
}

.topShelf {
	clear: left;
	overflow: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.topShelf div {
	margin: 20px 10px;
	border: 1px solid gray;
	padding: 20px 30px 10px;
	box-shadow: 0 2px 3px rgba(193, 194, 196, 0.87);
}

.topShelf div:last-child {
	color: red;
}

.topShelf h4 {
	text-align: center;
	font: bold 30px sans-serif;
	margin: 10px auto;
}

.topShelf h5 {
	margin: auto;
}

.topShelf div span {
	margin-left: 10px;
}

.topShelf div .hFont {
	margin-right: 3px;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
	.gifLoad {
		width: 100%;
	}

	.gifLoad img {
		width: 50px !important;
	}

	.gifLoad h1 {
		font-size: 12px !important;
	}

	.homeBody {
		width: 100%;
		clear: left;
	}

	.homeBody h1 {
		margin: 10px;
		font: normal 1rem sans-serif;
	}

	.topShelf {
		clear: left;
		overflow: auto;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	.topShelf div {
		margin: 20px 10px;
		border: 1px solid gray;
		padding: 15px 25px 10px;
		box-shadow: 0 2px 3px rgba(193, 194, 196, 0.87);
	}

	.topShelf h4 {
		text-align: center;
		font: bold 20px sans-serif;
		margin: 10px auto;
	}

	.topShelf h5 {
		margin: auto;
		font-size: 10px;
	}

	.topShelf div span {
		margin-left: 10px;
		font-size: 8px;
	}

	.topShelf div .hFont {
		margin-right: 3px;
	}
}
