*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.analytics {
	width: 82%;
	height: 100%;
	float: right;
	background-color: #e9ecef;
	padding: 20px;
	margin-top: 60px;
}

.analytics Footer {
	width: 100%;
}

/* -------------------gif loader------------------------------- */
.analyticsBody .gifLoad {
	width: 82%;
	height: 100vh;
	float: right;
	background-color: rgba(233, 233, 233, 0.952);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.analyticsBody .gifLoad img {
	align-self: center;
	width: 70px !important;
}
/* -------------------gif loader------------------------------- */

.analytics h1 {
	margin-bottom: 20px;
	font: normal 1.2rem sans-serif;
}

.shelf {
	clear: left;
	overflow: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
}

.shelf div {
	border: 1px solid gray;
	padding: 20px 30px;
	box-shadow: 0 2px 3px rgba(193, 194, 196, 0.87);
	text-align: center;
	background-color: #1d2939;
	color: #fff;
}

.shelf div:nth-child(1),
.shelf div:nth-child(2) {
	color: rgb(74, 252, 4);
}

.shelf h4 {
	font: bold 35px sans-serif;
}

.shelf div span {
	margin-left: 10px;
}

.shelf div .hFont {
	margin-right: 3px;
}

.analyticsBody .charts {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */
@media screen and (max-width: 768px) {
	.analytics {
		width: 100%;
		padding: 20px;
		padding-top: 50px;
		margin: 0px;
	}

	.analytics h1 {
		margin-bottom: 10px;
		font: normal 1rem sans-serif;
	}

	.shelf {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}

	.shelf div {
		padding: 10px 10px;
	}

	.shelf h4 {
		font: bold 20px sans-serif;
	}

	.shelf h4 {
		font: bold 20px sans-serif;
	}

	.shelf h5 {
		font-size: 10px;
	}

	.shelf div p {
		font-size: 8px;
	}

	.analyticsBody .charts {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}
