*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dumpBody {
	width: 100%;
	background-color: #102231;
	color: #ffffff;
	height: 100vh;
	overflow: auto;
}

.dumpBody h1 {
	margin: 20px 0 0px 10px;
	font: normal 1rem sans-serif;
}

.map .gmap {
    text-align: center;
}

.map h1 {
    text-align: center;
}

.map .gmap iframe {
	height: 400px;
	width: 400px;
    margin: 20px auto;
}

.map .gmap {
	margin: auto;
}
