*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer {
   position: relative;
	width: 82%;
    float: right;
    padding-top: 20px;
    margin-bottom: 0%;
	background-color: rgba(233, 233, 233, 0.952);
	color: #102231;
}

footer h3 {
    text-align: center;
    font: 14px sans-serif;
}

footer .footerFont {
    color: red;
    font-size: 18px;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
    Footer {
        width: 100%;
        clear: both;
        padding-top: 10px;
    }

    footer h3 {
        font-size: 10px;
    }
}