*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.fullMsg .gifLoad {
	width: 62%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fullMsg .gifLoad img {
	align-self: center;
	margin-left: 240px;
}

.messages {
	width: 62%;
	height: 93.5vh;
	float: right;
	background-color: #e9ecef;
	padding: 30px 40px 0px 40px;
}

.messages > div {
	display: flex;
	margin-bottom: 10px;
}

.messages div div {
	margin: auto 0;
}

.messages div img {
	width: 40px;
	height: 40px;
	border: 1px solid rgba(165, 165, 165, 0.816);
	border-radius: 50%;
	background-color: #fff;
	margin-right: 10px;
}

.messages div h1 {
	font-size: 12px;
	margin: auto 0 2px 0;
}

.messages h3 {
	font-size: 10px;
	color: #555555b4;
	margin: auto 0;
}

.messages .replyMsg {
	position: relative;
}

.messages .replyMsg div:nth-child(1) {
	background-color: #fff;
	padding: 40px;
	margin-bottom: 30px;
	overflow-y: scroll;
	height: 80vh;
}

.messages .replyMsg div:nth-child(1) h3 {
	font-size: 10px;
	background-color: #03c7a9;
	color: #000;
	border: 1px solid #e9ecef;
	border-radius: 12px;
	margin-right: 300px;
	padding: 20px 10px 10px 18px;
	position: relative;
}

.messages .replyMsg div:nth-child(1) h4 {
	background-color: #5aff08;
	color: #000;
	font: 10px sans-serif;
	border: 1px solid #e9ecef;
	border-radius: 12px;
	margin-top: 20px;
	margin-left: 300px;
	padding: 20px 10px 10px 18px;
}

.messages .replyMsg div:nth-child(1) h3 span,
.messages .replyMsg div:nth-child(1) h4 span {
	display: block;
	text-align: end;
	margin: 5px 10px 0px 0px;
}

.messages .replyMsg .writeMsg {
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 10px;
	margin-top: 30px;
	width: 100%;
	background-color: #1d2939;
}

.messages .replyMsg .writeMsg input {
	height: 40px;
	width: 100%;
	padding: 0 20px;
	border: 2px solid;
	border-radius: 4px;
}

.messages .replyMsg .writeMsg button {
	margin-left: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 0px 48px;
	background-color: #1365cf;
	color: #fff;
	border: none;
	border-radius: 4px;
	transition: transform 80ms ease-in;
}

.messages .replyMsg .writeMsg .sendBtn {
	display: none;
}

.messages .replyMsg div button:hover {
	background-color: #0f3a75;
	color: #fff;
}

.messages .replyMsg div button:active {
	transform: scale(0.95);
}

.messages .replyMsg div button:focus {
	outline: transparent;
}

.messages #msg-shift-drop {
	display: none;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */
@media screen and (max-width: 768px) {
	.messages {
		width: 100%;
		padding: 20px;
		padding-top: 50px;
		margin: 0px;
	}

	/* -------------------responsive gif loader starts here------------------------------- */
	.fullMsg .gifLoad {
		width: 100% !important;
		height: 100vh !important;
	}

	.fullMsg .gifLoad img {
		margin: 0 auto;
	}
	/* -------------------responsive gif loader ends here------------------------------- */

	/* --------------responsive main container styling starts here-------------- */

	.messages > div {
		margin-top: 5px;
	}

	.messages div img {
		width: 30px;
		height: 30px;
	}

	.messages div h1 {
		font-size: 10px;
	}

	.messages h3 {
		font-size: 8px;
	}

	.messages .replyMsg {
		position: relative;
	}

	.messages .replyMsg div:nth-child(1) {
		overflow-y: scroll;
		height: 80vh;
	}

	.messages .replyMsg div:nth-child(1) h3 {
		font-size: 8px;
		margin: -20px 30px 0px -20px;
		padding: 10px 8px;
	}

	.messages .replyMsg div:nth-child(1) h4 {
		font: 8px sans-serif;
		margin-left: 20px;
		margin: 15px -20px 10px 30px;
		padding: 10px 8px;
	}

	.messages .replyMsg div:nth-child(1) h3 span,
	.messages .replyMsg div:nth-child(1) h4 span {
		margin: 5px 2px 0px 0px;
		opacity: 0.7;
	}

	.messages .replyMsg .writeMsg {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #1d2939;
	}

	.messages .replyMsg .writeMsg input {
		padding: 0 7px;
		border: 2px solid rgb(86, 99, 241);
		border-radius: 20px;
		background-color: #22324761;
		color: #fff;
	}

	.messages .replyMsg .writeMsg button {
		display: none;
	}

	.messages .replyMsg .writeMsg .sendBtn {
		display: block;
		font-size: 40px;
		border: 2px solid rgb(86, 99, 241);
		background-color: rgb(86, 99, 241);
		color: #fff;
		border-radius: 50%;
		padding: 2px 6px;
		margin-left: 5px;
		cursor: pointer;
	}

	.messages #msg-shift-drop {
		display: block;
		margin: auto 0 auto auto;
		font-size: 16px;
		cursor: pointer;
	}

	.fullMsg .message {
		display: block !important;
		width: 50% !important;
		overflow-y: scroll;
		margin-top: 40px;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #1d2939;
		color: #fff;
		animation: animate 500ms ease-in-out;
	}

	.fullMsg .message .messageDiv {
		margin-bottom: 10px;
		padding: 0 10px 0 5px;
	}

	.fullMsg .message .messageDiv p {
		font-size: 8px;
	}

	.fullMsg .message .messageDiv div p {
		font-size: 8px;
		color: #fff;
		letter-spacing: 0px;
	}

	.fullMsg .message .messageDiv div h3 {
		font-size: 10px;
		color: rgb(0, 251, 255);
	}

	.message .messageDiv div h3:hover {
		letter-spacing: 0px;
	}

	@keyframes animate {
		0% {
			opacity: 0;
			margin-left: 20px;
		}
		30% {
			opacity: 0.4;
			margin-left: 15px;
		}
		50% {
			opacity: 0.4;
			margin-left: 10px;
		}
		75% {
			opacity: 0.6;
			margin-left: 5px;
		}
		100% {
			opacity: 1;
			margin-left: 0px;
		}
	}
}
