*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.homeBody {
	width: 82%;
	height: 100%;
	float: right;
	background-color: #e9ecef;
	padding: 20px;
	margin-top: 60px;
}

/* -------------------gif loader------------------------------- */
.gifLoad {
	background-color: rgba(233, 233, 233, 0.952);
	width: 100% !important;
	height: 100vh !important;
}

.gifLoad img {
	width: 70px !important;
	margin-right: -300px;
}

.gifLoad h1 {
	font-size: 18px !important;
	margin-right: -300px;
}
/* -------------------gif loader------------------------------- */

.homeBody h1 {
	font: normal 1.2em sans-serif;
}

.homeBody h2 {
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.homeBody .topShelf {
	display: flex;
	justify-content: space-evenly;
}

.homeBody .topShelf > div {
	border: 1px solid;
	display: flex;
	padding: 10px 40px 10px 15px;
	border: none;
	border-radius: 4px;
	color: #f3f3f3;
	margin: 20px 20px 20px 0px;
}

.homeBody .topShelf > div:nth-child(1) {
	background-color: #00b297;
	flex-grow: 1;
}

.homeBody .topShelf > div:nth-child(2) {
	background-color: #dc3545;
	flex-grow: 1;
}

.homeBody .topShelf > div:nth-child(3) {
	background-color: #0866c6;
	flex-grow: 1;
}

.homeBody .topShelf > div:nth-child(4) {
	background-color: #1d2939;
	flex-grow: 1;
	margin-right: 0px;
}

.homeBody .topShelf div #shelfFont {
	font-size: 50px;
	margin: auto 15px auto 0px;
}

.homeBody .topShelf div h2 {
	font-size: 9px;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 10px 0 4px;
}

.homeBody .topShelf div h3 {
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 0px;
}

.homeBody .topShelf div p {
	font-size: 8px;
	font-weight: lighter;
	letter-spacing: .4px;
}

/* -------users-shelf-------------- */
.homeBody .usersShelf {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 2em;
	/* grid-auto-rows: minmax(100px, auto); */
}

.homeBody .usersShelf div {
	background: #ffffff;
	padding: 30px 30px 10px 30px;
	border-radius: 6px;
}

.homeBody .usersShelf div header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
}

.homeBody .usersShelf div header h2 {
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.homeBody .usersShelf div header h2:nth-child(2) {
	border: 2px solid #17a2b8;
	color: #17a2b8;
	border-radius: 20px;
	padding: 8px 12px;
	margin: -12px 0 auto 0;
	padding: auto;
}

.homeBody .usersShelf div header h2:nth-child(2) #link {
	color: #17a2b8;
	text-decoration: none;
}

.homeBody .usersShelf div header h2:nth-child(2) #link:hover {
	color: #0d798a;
}

.homeBody .usersShelf div > div {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
	padding: 10px;
}

.homeBody .usersShelf div > div hgroup {
	flex-grow: 2;
	margin-left: 50px;
}

.homeBody .usersShelf div hgroup h3 {
	font: bold 14px arial;
}

.homeBody .usersShelf div > div hgroup h4 {
	font: bold 12px arial;
	color: rgb(116, 114, 114);
}

.homeBody .usersShelf div > div h5 {
	font: bold 14px arial;
	color: #17a2b8;
	margin: auto 20px;
	cursor: pointer;
}

.homeBody .usersShelf div > div h5:hover {
	color: #1a8191;
	text-decoration: underline;
}

.homeBody .usersShelf div div img {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(116, 114, 114);
	border-radius: 50%;
}
/* -------users-shelf-------------- */

/* ----------new-main--------------- */
.homeBody .new-main {
	border-radius: 6px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.homeBody .new-main section > div {
	background: #e8428e;
	height: 40vh;
}

.homeBody .new-main section > div h2 {
	padding: 30px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: lighter;
	letter-spacing: 0px;
}

.homeBody .new-main section .overlap {
	background: #e4dddd;
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	color: rgb(104, 102, 102);
	padding-bottom: 30px;
}

.homeBody .new-main section .overlap div {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}

.homeBody .new-main section .overlap div:nth-child(1),
.homeBody .new-main section .overlap div:nth-child(3) {
	margin-right: -4px;
	margin-left: 25px;
}

.homeBody .new-main section .overlap div:nth-child(1),
.homeBody .new-main section .overlap div:nth-child(2) {
	margin-top: -50px;
	margin-bottom: 20px;
}

.homeBody .new-main section .overlap div:nth-child(2),
.homeBody .new-main section .overlap div:nth-child(4) {
	margin-right: 25px;
	margin-left: -4px;
}

.homeBody .new-main section .overlap div:nth-child(3),
.homeBody .new-main section .overlap div:nth-child(4) {
	margin-top: -10px;
}

.homeBody .new-main section .overlap div h3 {
	font: 16px sans-serif;
	font-weight: bold;
	color: rgb(109, 108, 108);
}

.homeBody .new-main section .overlap div h5 {
	font: 12px sans-serif;
	opacity: 0.7;
}
/* ----------new-main--------------- */


/* ----------disposal analysis--------------- */
.homeBody .new-main aside section {
	background-color: #ffffff;
	height: 48%;
}

.homeBody .new-main aside section:nth-child(1) {
	margin-bottom: 30px;
}

.homeBody .new-main aside section:nth-child(2) {
	margin-top: -8px;
}

.homeBody .new-main aside section h2 {
	text-transform: capitalize;
	font-size: 16px;
	padding: 30px 20px;
	opacity: 0.78;
}

.homeBody .new-main aside section h1 {
	font-size: 22px;
	font-weight: bold;
	padding: 20px 20px 0px;
}

.homeBody .new-main aside section h5 {
	padding: 0px 20px;
	opacity: 0.58;
}
/* ----------disposal analysis--------------- */


/* ----------task styling------------- */
.homeBody .usersShelf .task {
	background: #0866c6;
	color: #ffffff;
}

.homeBody .usersShelf .task div {
	background: #0866c6;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	border: none;
}

.homeBody .usersShelf .task > div::before {
	content: "";
	border-left: 3px solid;
	border-color: orange;
	border-radius: 10px;
	margin: 8px 10px 10px -10px;
}

.homeBody .usersShelf .task > div:nth-child(odd)::before {
	border-color: rgb(17, 221, 17);
}

.homeBody .usersShelf .task > div:nth-child(3)::before,
.homeBody .usersShelf .task > div:nth-child(6)::before {
	border-color: purple;
}

.homeBody .usersShelf .task div input[type="checkbox"] {
	background: #e9ecef;
	border: none;
	margin: auto 3px auto 0;
}

.homeBody .usersShelf .task div div {
	flex-direction: column;
	flex-grow: 2;
}

.homeBody .usersShelf .task div div h3 {
	font: 14px arial;
}

.homeBody .usersShelf .task div div h4 {
	font: 12px arial;
	color: rgba(243, 243, 243, 0.565);
}

.homeBody .usersShelf .task div #font {
	font-size: 14px;
	margin: auto 0;
}
/* ----------task styling------------- */


/* ------------------popular vendors-------------- */
.homeBody .usersShelf .popularVendors {
	grid-column: 1/4;
}

.homeBody .usersShelf .popularVendors header hgroup {
	display: flex;
}

.homeBody .usersShelf .popularVendors header hgroup h3 {
	color: #17a2b8;
	padding: 0 10px;
}

.homeBody .usersShelf .popularVendors section  {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
}

.homeBody .usersShelf .popularVendors  section div h2 {
	margin-bottom: 10px;
}

.homeBody .usersShelf .popularVendors section div  h3 {
	font-size: 12px;
	opacity: 0.7;
}

.homeBody .usersShelf .popularVendors section  h4 {
	font-size: 10px;
	opacity: 0.6;
}

.homeBody .usersShelf .popularVendors section div:nth-child(2) {
	display: flex;
	justify-content: space-between;
	border: none;
}

.homeBody .usersShelf .popularVendors section div > div {
	flex-direction: column;
	border: none;
}

.homeBody .usersShelf .popularVendors section div > div h4 {
	text-align: center;
}

/* ------------------popular vendors-------------- */