*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.message {
	background-color: #ffffff;
	color: #424141c2;
	position: fixed;
	top: 60px;
	left: 18%;
	width: 20%;
	height: 100vh;
	overflow: auto;
	padding-top: 15px;
	z-index: 20;
	border-top: .4px solid rgba(199, 199, 199, 0.429);
	box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
}

.message::-webkit-scrollbar {
	width: 0px;
}

.message .messageDiv {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0 10px;
	border-bottom: 1px solid #a3a2a2c2;
}

.message .messageDiv:nth-last-child(1) {
	border-bottom: none;
}

.message .messageDiv div {
	margin: 10px;
}

.message .messageDiv p {
	font-size: 10px;
	margin: auto 0;
}

.message .messageDiv div p {
	font-size: 10px;
	color: #424141c2;
	letter-spacing: 0px;
}

.message .messageDiv div h3 {
	font-size: 12px;
}

.message .messageDiv div h3:hover {
	letter-spacing: .4px;
	transition: letter-spacing ease-in-out 270ms;
}

.message .messageDiv #messageLink {
	text-decoration: none;
	margin: auto 0;
	outline: none;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */
@media screen and (max-width: 768px) {
	.msgParent {
		display: none;
	}

	.message {
		/* width: 100%;
		padding-top: 50px;
		margin-top: 0px;
		position: static;
		height: auto;
		z-index: 0;
		background-color: #1d2939;
		color: #fff; */
	}
/* 
	.message .messageDiv {
		margin-bottom: 10px;
		padding: 0 20px 0 10px;
	}

	.message .messageDiv div {
		margin: 5px 90px 5px 5px;
	}

	.message .messageDiv p {
		font-size: 8px;
	}

	.message .messageDiv div p {
		font-size: 8px;
		color: #fff;
		letter-spacing: 0px;
	}

	.message .messageDiv div h3 {
		font-size: 10px;
	}

	.message .messageDiv div h3:hover {
		letter-spacing: 0px;
	} */
}
