*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

.modal-container {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #f4f4f4;
	margin: 2.5% auto;
	width: 467px;
	height: 694px;
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #ccc;
	padding: 40px 60px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation: dropdwn ease-in-out 700ms;
}

@keyframes dropdwn {
	0% {
		opacity: 0;
		margin-top: -300px;
	}
	25% {
		opacity: 0.25;
		margin-top: -200px;
	}
	50% {
		opacity: 0.5;
		margin-top: -100px;
	}
	75% {
		opacity: 0.75;
		margin-top: -50px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

.modal-container .modal-content header {
	display: flex;
	justify-content: space-between;
}

.modal-container .modal-content header hgroup h1 {
	font-size: 25px;
	font-style: normal;
	font-weight: 900;
	color: #001ac6;
}

.modal-container .modal-content header #font {
	font-size: 28px;
	cursor: pointer;
}

.modal-container .modal-content header hgroup h3 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #001ac6;
	margin-bottom: 0px;
}

.modal-container .modal-content hr {
	background: #ffaa00;
	margin-top: 11.81px;
	margin-bottom: 40.21px;
}

.modal-container .modal-content form label {
	width: 100%;
	margin-bottom: 42.74px;
}

.modal-container .modal-content form label input {
	display: block;
	height: 50px;
	width: 100%;
	margin-top: 7.25px;
	padding-left: 10px;
}

.modal-container .modal-content form label select {
	display: block;
	height: 50px;
	width: 100%;
	margin-top: 7.25px;
	padding: 0 10px;
}

.modal-container .modal-content form button {
	background: #ffaa00;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0px 10px 20px rgba(188, 41, 8, 0.12);
	border: 1px solid #ffaa00;
	border-radius: 2px;
	height: 55px;
	width: 100%;
	font-size: 22px;
	margin-top: 30px;
}

.modal-container .modal-content form button:hover {
	background: #e9a112;
}

/* ----------modal overlay------------------------- */
.modal-overlay {
	padding-right: 15px;
}

.modal-overlay-bottom {
	position: fixed;
	width: 100%;
	padding-right: 15px;
}
/* ----------modal overlay------------------------- */

/* -------------modal-success----------------- */
.modal-success {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-status {
	background-color: #001ac6;
	color: #ffffff;
	width: 500px;
	height: 200px;
	border-radius: 12px;
	padding: 70px 20px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-status #font {
	font-size: 26px;
	margin-top: -45px;
	margin-right: 10px;
	float: right;
	clear: both;
}

.modal-status h1 {
	font-size: 24px;
	letter-spacing: .5px;
}
/* -------------modal-success----------------- */

/* ---------------mobile responsiveness------------ */
@media screen and (max-width: 760px) {
	.modal-content {
		height: 594px;
		padding: 40px 50px;
		margin: 60px 0px;
	}

	.modal-container header hgroup h1 {
		font-size: 20px;
	}

	.modal-container header #font {
		font-size: 23px;
	}

	.modal-container header hgroup h3 {
		font-size: 14px;
	}

	.modal-container hr {
		margin-bottom: 30px;
	}

	.modal-container form label {
		font-size: 14px;
		margin-bottom: 30px;
	}

	.modal-container form label input {
		display: block;
		height: 40px;
		margin-top: 7px;
	}

	.modal-container form label select {
		height: 40px;
		margin-top: 7px;
	}

	.modal-container form button {
		height: 50px;
		font-size: 18px;
		margin-top: 20px;
	}

	/* -------------modal-success----------------- */
	.modal-status {
		width: 85%;
		height: 150px;
		border-radius: 12px;
		padding: 50px 20px;
	}

	.modal-status #font {
		font-size: 20px;
		margin-top: -30px;
		margin-right: 0px;
	}

	.modal-status h1 {
		font-size: 20px;
		letter-spacing: .2px;
	}
	/* -------------modal-success----------------- */
}
