*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.adminNav h1 {
	font: 12px sans-serif;
	margin: auto;
}

.adminNav {
	display: flex;
	justify-content: space-between;
	background-color: #121212;
	color: #fff;
	position: relative;
	width: 80%;
	float: right;
}

.navProfile,
.navProfileDrop {
	display: flex;
	margin: auto 0;
}

.navProfileDrop {
	padding: 0 30px 0 20px;
}

#navBar,
#navMsg {
	font-size: 22px;
	color: #fff;
}

#navBar {
	display: none
}

#navMsg {
	margin: 5px 0;
}

.navProfileDrop .dropdownToggle {
	cursor: pointer;
}

.navProfileDrop .dropdownMenuList {
	position: absolute;
	margin-top: 28px;
	background-color: #121212;
	color: #fff;
}

.navProfileDrop .dropdownMenuList li {
	padding: 10px 20px;
}

.navProfileDrop .dropdownMenuList li #link {
	color: #fff;
	text-decoration: none;
}

.navProfileDrop .dropdownMenuList li:hover {
	background-color: #43434466;
}

.navProfileDrop .dropdownMenuList #dropdownFont {
	font-size: 18px;
	margin-right: 10px;
}

.adminNav .sideBody {
	display: none;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
	.adminNav {
		width: 100%;
		position: fixed;
		z-index: 99;
	}

	.adminNav h1 {
		font: 12px sans-serif;
		margin: auto;
	}

	.adminNav {
		height: 30px;
	}

	#navBar,
	#navMsg {
		font-size: 14px;
	}

	#navBar {
		display: block;
		margin: 8px 10px;
		cursor: pointer;
	}

	.navProfileDrop {
	padding: 0 10px 0 20px;
}

.navProfileDrop h1{
	font-size: 10px;
	margin-left: -10px;
}

	.navProfileDrop .dropdownMenuList {
		margin-top: 24px;
		margin-left: -10px;
	}

	.navProfileDrop .dropdownMenuList li {
		padding: 8px 15px;
		font-size: 10px;
	}

	.navProfileDrop .dropdownMenuList #dropdownFont {
		font-size: 12px;
		margin-right: 5px;
	}

	/*--------------------------------- sidemenu styling begins here --------------------------*/

	.adminNav .sideBody {
		display: block !important;
		width: 34% !important;
		z-index: 2;
	}

	.adminNav .sideBody-Intro {
		padding-top: 5px;
		padding-bottom: 30px;
		letter-spacing: 1px;
		background-color: #192835;
	}

	.adminNav .sideBody-Intro img {
		width: 50px;
		height: 50px;
		margin-bottom: -90px;
	}

	.adminNav .sideBody-Intro h2 {
		display: none;
	}

	.adminNav .sideBody-Intro h4 {
		display: none;
	}

	.adminNav .sideBody-Intro #font {
		font-size: 8px;
		margin-right: 2px !important;
		margin-top: 0px !important;
	}

	.adminNav .sideBody-Intro span {
		font-size: 9px;
		letter-spacing: 0px;
	}

	.adminNav .dashSection h3 {
		font-size: 9px;
		margin: 20px 10px 10px 20px;
	}

	.adminNav .dashSection ul {
		margin-top: 10px;
	}

	.adminNav .dashSection ul li {
		margin: 10px 0px 0px 0px;
		padding: 10px;
		font-size: 8px;
	}

	.adminNav .dashSection ul li:hover {
		padding-left: 10px;
	}

	.adminNav .dashSection #dropList {
		margin-left: 40px;
	}

	.adminNav .dashSection .dashmenuFont {
		margin-right: 10px;
		margin-left: 10px;
		font-size: 10px;
	}

	.adminNav .sidemenu-footer {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		margin: 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.adminNav .sidemenu-footer a {
		font-size: 10px;
		margin: 0px;
		padding: 0px 10px;
	}
}
