*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.adminNav h1 {
	font: 12px sans-serif;
	margin: auto;
}

.adminNav {
	display: flex;
	justify-content: space-between;
	line-height: 40px;
	background-color: #121212;
	color: #fff;
	position: relative;
	width: 80%;
	float: right;
}

.navProfile, .navProfileDrop {
	display: flex;
	margin: auto 0;
}

.navProfileDrop{
	padding: 0 30px 0 20px;
}

#navBar, #navMsg {
	font-size: 22px;
	color: #fff;
}

#navBar {
	margin: auto 40px;
}

.navProfileDrop .dropdownToggle {
	cursor: pointer;
}

.navProfileDrop .dropdownMenuList {
	position: absolute;
	margin-top: 28px;
	background-color: #121212;
	color: #fff;
}

.navProfileDrop .dropdownMenuList li {
	padding: 2px 20px;
}

.navProfileDrop .dropdownMenuList li #link {
	color: #fff;
	text-decoration: none;
}

.navProfileDrop .dropdownMenuList li:hover {
	background-color: #43434466;
}

.navProfileDrop .dropdownMenuList #dropdownFont {
	font-size: 18px;
	margin-right: 10px;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
	.adminNav h1 {
	font: 12px sans-serif;
	margin: auto;
}

.adminNav {
	line-height: 30px;
}

.navProfileDrop{
	/* padding: 0 30px 0 20px; */
}

#navBar, #navMsg {
	font-size: 14px;
}

#navBar {
	margin: auto 20px;
}

.navProfileDrop .dropdownMenuList {
	margin-top: 24px;
}

.navProfileDrop .dropdownMenuList li {
	padding: 2px 20px;
	font-size: 10px;
}

.navProfileDrop .dropdownMenuList #dropdownFont {
	font-size: 12px;
	margin-right: 5px;
}
}