/* -------------------------------stylings starts here----------------------- */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.adminNav {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	color: #555555;
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 20;
}

/* -------------------------------nav-profile styling starts here----------------------- */
.navProfile,
.navProfileDrop {
	display: flex;
	margin: auto 0;
}

.navProfileDrop {
	padding: 0 30px 0 20px;
}

.navProfileDrop h1 {
	font-size: 10px;
	cursor: pointer;
}

#navBar,
#navMsg {
	font-size: 18px;
	color: #858383;
}

#navBar {
	display: none;
}

#navMsg {
	margin-top: 2px;
}

.navProfileDrop .dropdownToggle {
	font-size: 18px;
	cursor: pointer;
	margin-left: -3px;
}

.navProfileDrop .dropdownMenuList {
	position: absolute;
	margin-top: 40px;
	margin-left: -20px;
	padding: 10px 0px;
	background-color: #ffffff;
	color: #555555;
	box-shadow: 1px 4px 10px rgba(0, 0, 0, .2);
	cursor: pointer;
	animation: dropdownPC 400ms ease-in;
}

.navProfileDrop .dropdownMenuList li {
	padding: 15px 35px 15px 25px;
	font: 10px sans-serif;
}

.navProfileDrop .dropdownMenuList li #link {
	color: #555555;
	text-decoration: none;
}

.navProfileDrop .dropdownMenuList li:hover {
	background-color: #dddddd;
	color: rgb(49, 49, 49);
}

.navProfileDrop .dropdownMenuList #dropdownFont {
	font-size: 18px;
	margin-right: 5px;
	margin-left: 0px;
	color: #009781;
}

@keyframes dropdownPC {
	0% {
		margin-top: 65px;
		opacity: 0;
	}
	20% {
		margin-top: 60px;
		opacity: 0.2;
	}
	40% {
		margin-top: 55px;
		opacity: 0.3;
	}
	60% {
		margin-top: 50px;
		opacity: 0.5;
	}
	80% {
		margin-top: 45px;
		opacity: 0.7;
	}
	100% {
		margin-top: 40px;
		opacity: 1;
	}
}
/* -------------------------------nav-profile styling ends here----------------------- */

.adminNav .sideBody {
	display: none;
}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
	.adminNav {
		height: 40px !important;
	}

	#navBar,
	#navMsg {
		font-size: 16px;
	}

	#navBar {
		display: block;
		margin: 25% 15px;
		cursor: pointer;
	}

	/* ----------------responsive navProfile styling begins here--------------------------- */
	.navProfileDrop {
		padding: 0 10px 0 20px;
	}

	.navProfileDrop h1 {
		font-size: 8px;
		margin: auto;
		margin-left: -10px;
	}

	.navProfileDrop .dropdownToggle {
		font-size: 12px;
	}

	.navProfileDrop .dropdownMenuList {
		margin-top: 30px;
		margin-left: -20px;
		animation: dropdownMobile 400ms ease-in;
	}

	.navProfileDrop .dropdownMenuList li {
		padding: 8px 15px;
		font-size: 8px;
	}

	.navProfileDrop .dropdownMenuList #dropdownFont {
		font-size: 10px;
		margin-right: 5px;
	}

	@keyframes dropdownMobile {
		0% {
			margin-top: 55px;
			opacity: 0;
		}
		20% {
			margin-top: 50px;
			opacity: 0.2;
		}
		40% {
			margin-top: 45px;
			opacity: 0.3;
		}
		60% {
			margin-top: 40px;
			opacity: 0.5;
		}
		80% {
			margin-top: 35px;
			opacity: 0.7;
		}
		100% {
			margin-top: 30px;
			opacity: 1;
		}
	}
	/* ----------------responsive navProfile styling ends here--------------------------- */

	/*--------------------------------- sidemenu styling begins here --------------------------*/

	.adminNav .sideBody {
		display: block !important;
		width: 40% !important;
		margin-top: 0px;
		z-index: 2;
		animation: navAnimate 400ms ease-in-out;
	}

	@keyframes navAnimate {
		0% {
			margin-left: -12%;
		}
		20% {
			margin-left: -10%;
		}
		40% {
			margin-left: -8%;
		}
		60% {
			margin-left: -6%;
		}
		80% {
			margin-left: -4%;
		}
		90% {
			margin-left: -2%;
		}
		100% {
			margin-left: 0%;
		}
	}

	/* ----------sidemenu intro stylings begins here---------- */
	.adminNav .sideBody-Intro {
		padding-top: 5px;
		padding-bottom: 30px;
		letter-spacing: 1px;
		background-color: #192835;
	}

	.adminNav .sideBody-Intro img {
		width: 40px;
		height: 40px;
		margin-bottom: -100px;
	}

	.adminNav .sideBody-Intro h4 {
		display: none;
	}

	.adminNav .sideBody-Intro #font {
		font-size: 9px;
		margin-right: 2px !important;
		margin-top: 0px !important;
	}

	.adminNav .sideBody-Intro span {
		font-size: 9px;
		letter-spacing: 0px;
	}
	/* ----------sidemenu intro stylings ends here---------- */

	/* ----------sidemenu navigation-list stylings begins here---------- */
	.adminNav .dashSection h3 {
		font-size: 9px;
		margin-top: 80px;
		margin-left: 20px;
	}

	.adminNav .dashSection ul {
		margin-top: 10px;
	}

	.adminNav .dashSection ul li {
		margin: 10px 0px 0px 0px;
		padding: 5px 0px 5px 10px;
		font-size: 6px;
	}

	.adminNav .dashSection ul li:hover {
		padding-left: 10px;
	}

	.adminNav .dashSection #dropFont {
		font-size: 12px;
		margin-left: 30px;
	}

	.adminNav .dashSection .mobileUsers {
		margin-left: 4px;
	}

	.adminNav .dashSection .mobileUsers:hover {
		padding-left: 19px;
	}

	.adminNav .dashSection .mobileUsers span {
		margin-left: -12px;
		margin-right: 0px;
	}

	.adminNav .dashSection .mobileUsers #dropFont {
		margin-left: 26px;
	}

	.adminNav .dashSection .dashmenuFont {
		margin-right: 10px;
		margin-left: 10px;
		font-size: 10px;
	}
	/* ----dropdown list styling starts  here---- */
	.adminNav .dashSection #dropList {
		padding: 0px;
	}

	.adminNav .dashSection #dropList li {
		margin: 0px;
		padding: 10px 0px 10px 30px;
	}

	.adminNav .dashSection #dropList #lineFont {
		margin-right: 10px;
	}

	.adminNav .dashSection #dropList .userFont {
		margin-left: 5px;
	}

	.adminNav .dashSection #dropList .dashmenuFont {
		margin-left: 6px;
	}

	/* -----dropdown list styling starts  here---- */

	/* ----------sidemenu navigation-list stylings ends here---------- */

	/* ----------sidemenu footer styling starts here---------- */
	.adminNav .sidemenu-footer {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 20px;
		padding-bottom: 40px;
	}

	.adminNav .sidemenu-footer li {
		font-size: 8px;
		background-color: #415c80f1;
		border-radius: 50%;
		margin: 0 5px;
		padding: 3px 6px 5px 6.5px;
		cursor: pointer;
	}
	/* ----------sidemenu footer styling ends here---------- */
}
/* -------------------------mobile responsiveness styling ends here----------------------------------- */
