*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.projectBody {
	width: 78%;
	float: right;
	background-color: #102231;
	color: #ffffff;
	height: 100%;
	/* overflow: auto; */
}

.projectBody h1 {
	margin: 20px 0 10px 10px;
	font: normal 1.2rem sans-serif;
}

.shelf {
	clear: left;
	overflow: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.shelf div {
	margin: 20px 10px;
	border: 1px solid gray;
	padding: 20px 30px;
	box-shadow: 0 2px 3px rgba(193, 194, 196, 0.87);
}

.shelf div:last-child {
	color: red;
}

.shelf h4 {
	text-align: center;
	font: bold 30px sans-serif;
	margin: auto;
}

.shelf h5 {
	margin: auto;
}

.shelf div span {
	margin-left: 10px;
}

.shelf div .hFont {
	margin-right: 3px;
}
