*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.users-container .gifLoad {
	width: 100%;
	max-height: 90vh;
}

.users-container .gifLoad img {
	margin: auto 0 auto -250px;
}

.users-container {
	width: 82%;
	float: right;
	background-color: #e9ecef;
	margin-top: 60px;
}

.users-body h1 {
	margin: 20px 0 20px 0px;
	font: normal 1rem sans-serif;
}

/* -------pickers-shelf-------------- */
.users-container .users-body {
	margin: 0 40px;
}

.users-container .list-table div {
	background: #ffffff;
	padding: 30px 30px 10px 30px;
	border-radius: 6px;
}

.users-container .list-table div header {
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
}

.users-container .users-body .list-table div h2 {
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.users-container .users-body .list-table .allUsers:hover {
	background: rgba(231, 229, 229, 0.646);
}

.users-container .users-body .list-table .allUsers h2 {
	font-size: 8px;
	border: 2px solid #17a2b8;
	color: #17a2b8;
	border-radius: 20px;
	padding: 6px 14px;
	margin: auto 0;
}

.users-container .users-body .list-table .allUsers h2:hover {
	border: 2px solid #1a8191;
	background: #1a8191;
	color: white;
	border-radius: 20px;
	cursor: pointer;
}

.users-container .users-body .list-table .allUsers #link {
	text-decoration: none;
}

.users-container .list-table div > div {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
	padding: 10px;
}

.users-container .list-table div > div hgroup {
	flex-grow: 2;
	margin: auto 20px;
}

.users-container .list-table div hgroup h3 {
	font: bold 12px arial;
	margin-bottom: 0px;
}

.users-container .list-table div > div hgroup h4 {
	font: bold 10px arial;
	color: rgb(116, 114, 114);
	margin-top: 0;
}

.users-container .list-table div div img {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(116, 114, 114);
	border-radius: 50%;
}
/* -------pickers-shelf-------------- */

/* -------------------------mobile responsiveness styling begins here----------------------------------- */
@media screen and (max-width: 768px) {
	.users-container {
		width: 100%;
		padding: 20px;
		padding-top: 50px;
		margin-top: 0px;
	}

	/* -------------------responsive gif loader starts here------------------------------- */
	.users-container .gifLoad {
		width: 100% !important;
		height: 88vh !important;
	}

	.users-container .gifLoad img {
		margin: 0 auto;
	}
	/* -------------------responsive gif loader ends here------------------------------- */

	/* -------------------main responsive styling begins here---------------- */
	.users-body {
		width: 100%;
		height: 88vh;
	}

	.users-body h1 {
		margin: 0px 0 10px 0px;
		font: normal 1rem sans-serif;
	}

	/* -------responsive users-shelf-------------- */
	.users-container .users-body {
		margin: 0px;
	}

	.users-container .list-table div {
		padding: 20px 20px 10px 20px;
	}

	.users-container .users-body .list-table div h2 {
		font-size: 10px;
		margin: auto 0;
		padding-bottom: 10px;
	}

	.users-container .users-body .list-table .allUsers:hover {
		background: none;
	}

	.users-container .users-body .list-table .allUsers h2 {
		font-size: 6px;
		padding: 5px 12px;
	}

	.users-container .users-body .list-table .allUsers h2:hover {
		background: none;
		color: #1a8191;
	}

	.users-container .users-body .list-table .allUsers h2:focus,
	.users-container .users-body .list-table .allUsers h2:active {
		outline: none;
	}

	.users-container .list-table div > div {
		padding: 8px;
	}

	.users-container .list-table div hgroup h3 {
		font: bold 10px arial;
	}

	.users-container .list-table div > div hgroup h4 {
		font: bold 8px arial;
	}

	.users-container .list-table div div img {
		width: 30px;
		height: 30px;
	}
	/* -------pickers-shelf-------------- */
}
