*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.users {
    width: 78%;
	float: right;
	background-color: #ddd;
    color: #102231;
	height: 100%;
}
