*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.agencyBody Footer {
	background-color: #091520f3;
	color: #ddd;
}

.agency {
	width: 78%;
	float: right;
	background-color: #091520f3;
	color: #ddd;
	min-height: 90vh;
}

.agency h1 {
	margin: 10px 0 10px 27px;
	font: normal 1.2rem sans-serif;
}

.agency h2 {
	margin: 50px 0 10px 50px;
	font: normal 1.2rem sans-serif;
}

.agency .agencyList img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #fff;
	margin-right: 10px;
}

.agency .agencyList {
	display: flex;
	margin: 20px 50px;
	padding: 0px;
}

.agency .agencyList:hover {
	background-color: #43434466;
    padding: 0 15px 0 0;
	border-radius: 30px;
}

.agency .agencyList h3 {
	font: normal 1.2rem sans-serif;
	margin: auto 0;
}

.agency .witnessInfo ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.agency .agencyList #link {
	color: #ddd;
	text-decoration: none;
}

.agency .agencyList #link:hover {
	color: tomato;
}
