*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.agencyBody .gifLoad {
	width: 62%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.agencyBody .gifLoad img {
	align-self: center;
	margin-left: 240px;
}

.agency {
	width: 62%;
	min-height: 100vh;
	float: right;
	background-color: #e9ecef;
	color: #000000;
	margin-top: 60px;
}
