*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.details {
	width: 82%;
	float: right;
	background-color: rgba(233, 233, 233, 0.952);
	color: #424141c2;
	margin-top: 60px;
}

/* -------------------gif loader------------------------------- */
.detailsBody .gifLoad {
	width: 82%;
	height: 100vh;
	float: right;
	background-color: rgba(233, 233, 233, 0.952);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.detailsBody .gifLoad img {
	align-self: center;
	width: 70px !important;
}
/* -------------------gif loader------------------------------- */

.details h1 {
	margin: 20px 0 0 40px;
	font: normal 1rem sans-serif;
}

.details .flexDivs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 20px 40px;
}

.details .username {
	background-color: #fff;
	grid-column: 1/3;
	grid-row: 1;
}

.details .username > div {
	margin: 25px 45px;
}

.details .username div img {
	width: 40px;
	height: 40px;
	border: 1px solid #424141c2;
	border-radius: 50%;
	display: inline-block;
}

.details .username div h2 {
	display: inline-block;
	color: #000;
	padding-left: 10px;
	font: bold 18px sans-serif;
}

.details .username .firstDiv {
	display: flex;
	justify-content: space-between;
}

.details .username .firstDiv #gt {
	display: flex;
}

.details .username .firstDiv div #font {
	font-size: 38px;
	margin-right: 10px;
}

.details .username .firstDiv h3 {
	font-size: 10px;
	margin-top: 5px;
}

.details .username .firstDiv h4 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin-top: -5px;
}

.details .username .secondDiv label {
	display: flex;
	justify-content: space-between;
	font: bold 10px sans-serif;
	color: #000;
}

.details .username .secondDiv label h3 {
	font: 10px sans-serif;
	color: #000;
	opacity: .8;
}

.details .username .thirdDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.details .username .thirdDiv button {
	padding: 10px 0;
	border: none;
	border-radius: 6px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}

.details .username .thirdDiv button:active {
	transform: scale(0.95);
}

.details .username .thirdDiv button:focus {
	outline: none;
}

.details .username .thirdDiv #btn1 {
	grid-column: 1/3;
	background-color: rgba(181, 245, 204, 0.639);
	color: rgb(16, 114, 52);
	text-decoration: none;
}

.details .username .thirdDiv #btn1:hover {
	background-color: rgb(18, 155, 68);
	color: #fff;
}

.details .username .thirdDiv #btn2 {
	background-color: rgba(243, 221, 180, 0.707);
	color: orange;
}

.details .username .thirdDiv #btn2:hover {
	background-color: orange;
	color: #000000;
}

.details .username .thirdDiv #btn3 {
	background-color: rgba(241, 191, 234, 0.585);
	color: rgb(246, 2, 214);
}

.details .username .thirdDiv #btn3:hover {
	background-color: rgb(246, 2, 214);
	color: #fff;
}

/* -------------modal styling----------------- */
.confirmModal > div {
	display: flex;
	justify-content: space-between;
}

.confirmModal div h2 {
	font-size: 12px;
	color: #fff;
}

.confirmModal .close-modal {
	font-size: 16px;
	color: #fff;
}

.confirmModal .close-modal:hover {
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	color: #000000;
	cursor: pointer;
}

.confirmModal h4 {
	font-size: 12px;
	color: #fff;
}

.confirmModal h6 {
	font-size: 9px;
	color: #fff;
	margin-bottom: 15px;
}

.confirmModal h6 span {
	font-weight: bold;
}

.confirmModal .btnParent {
	float: right;
	margin-right: 0px;
	clear: both;
}

.confirmModal .btnParent button {
	font-size: 8px;
	letter-spacing: .5px;
	margin: 5px;
	margin-bottom: 0px;
}

.confirmModal .btnParent button:nth-child(2) {
	margin-right: 0px;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
	overflow: hidden;
	opacity: 1;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 700ms ease-in-out;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
/* -------------modal styling----------------- */

/* -----------------userTransactionDetails----------------- */
.details .flexDivs .userTransactionDetails {
	grid-column: 1/4;
	grid-row: 2;
	align-self: flex-start;
	background-color: #fff;
}

.details .flexDivs .userTransactionDetails section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(200px, auto);
}

.details .flexDivs .userTransactionDetails section h2 {
	font: bold 12px sans-serif;
	color: #292525;
}

.details .flexDivs .userTransactionDetails section h3 {
	font: 10px sans-serif;
}

.details .flexDivs .userTransactionDetails section h4 {
	font: bold 14px sans-serif;
}

.details .flexDivs .userTransactionDetails section .first {
	border-right: 2px solid rgba(61, 57, 57, 0.3);
	padding: 30px 30px 10px;
}

.details .flexDivs .userTransactionDetails section .first div h4:nth-child(2) {
	color: purple;
}

.details .flexDivs .userTransactionDetails section .first > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.details .flexDivs .userTransactionDetails section .second {
	border-right: 2px solid rgba(61, 57, 57, 0.3);
	padding: 30px 30px 10px;
}

.details .flexDivs .userTransactionDetails section .second div h4:nth-child(2) {
	color: orange;
}

.details .flexDivs .userTransactionDetails section .second > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.details .flexDivs .userTransactionDetails section .third {
	padding: 30px 30px 10px;
}

.details .flexDivs .userTransactionDetails section .third div h4:nth-child(2) {
	color: rgb(18, 155, 68);
}

.details .flexDivs .userTransactionDetails section .third > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

/* -----------------userTransactionDetails----------------- */

/* -----------------finance-------------------- */
.details .flexDivs .financeBody {
	background-color: #fff;
}

.details .flexDivs .financeBody h2 {
	font: bold 12px sans-serif;
	color: #292525;
	padding: 25px 30px;
	border-bottom: 1px solid rgba(61, 57, 57, 0.3);
}

.details .flexDivs .financeBody > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0 10px 30px;
}

.details .flexDivs .financeBody h3 {
	color: rgb(83, 74, 74);
	font-size: 12px;
}

.details .flexDivs .financeBody h4 {
	color: rgb(87, 70, 70);
	font-size: 16px;
	font-weight: bold;
}
/* -----------------finance-------------------- */


/* ---------------mobile responsivenesss styling begins here-------------------------- */
@media screen and (max-width: 768px) {
.detailsBody {
		width: 100%;
		margin-top: 0px;
	}

	/* -------------------responsive gif loader starts here------------------------------- */
	.detailsBody .gifLoad {
		width: 100% !important;
		height: 95vh !important;
	}

	.detailsBody .gifLoad img {
		margin: 0 auto;
	}
	/* -------------------responsive gif loader ends here------------------------------- */


	/* ---------------------responsive user details full container styling starts here----------------- */
	.details {
		margin-top: 0px;
		padding: 50px 0 0 0;
		width: 100%;
	}
	
	.details h1 {
		margin: 10px 0 0 20px;
	}
	
	.details .flexDivs {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		padding: 20px 20px;
	}

	.details .username {
		grid-column: 1;
	grid-row: 1;
	}
	
	.details .username > div {
		margin: 25px 20px;
	}

	.details .username div img {
		width: 30px;
		height: 30px;
	}

	.details .username div h2 {
	font: bold 14px sans-serif;
}

.details .username .firstDiv #gt:nth-child(1){
	margin-right: 20px;
}

.details .username .firstDiv div #font {
	font-size: 30px;
}

.details .username .firstDiv h3 {
	font-size: 9px;
	margin-bottom: 4px;
}

.details .username .firstDiv h4 {
	font-size: 12px;
}

.details .username .secondDiv label {
	font: bold 9px sans-serif;
}

.details .username .secondDiv label h3 {
	font: 9px sans-serif;
}

.details .username .thirdDiv {
	grid-gap: 10px;
}

.details .username .thirdDiv button {
	padding: 8px 0;
	font-size: 10px;
}

.details .username .thirdDiv #btn1 {
	background-color: rgb(18, 155, 68);
	color: #fff;
}

.details .username .thirdDiv #btn1 #msgLink {
	background-color: rgb(18, 155, 68);
	color: #fff;
}

.details .username .thirdDiv #btn2 {
	background-color: orange;
	color: #000000;
}

.details .username .thirdDiv #btn3 {
	background-color: rgb(246, 2, 214);
	color: #fff;
}
/* ---------------------responsive user details full container styling starts here----------------- */



/* -------------responsive modal styling----------------- */
.ReactModal__Content {
	width: 65%;
	margin-left: -60px;
}

.confirmModal div h2 {
	font-size: 10px;
}

.confirmModal .close-modal {
	font-size: 12px;
}

.confirmModal h4 {
	font-size: 10px;
}

.confirmModal h6 {
	font-size: 8px;
}

.confirmModal .btnParent button {
	font-size: 7px;
	letter-spacing: 0px;
}
/* -------------modal styling----------------- */


/* -----------------userTransactionDetails----------------- */
.details .flexDivs .userTransactionDetails {
		grid-column: 1;
	grid-row: 3;
}

.details .flexDivs .userTransactionDetails section {
	grid-template-columns: repeat(1, 1fr);
}

.details .flexDivs .userTransactionDetails section h2 {
	font: bold 10px sans-serif;
}

.details .flexDivs .userTransactionDetails section h3 {
	font: 8px sans-serif;
}

.details .flexDivs .userTransactionDetails section h4 {
	font: bold 12px sans-serif;
}

.details .flexDivs .userTransactionDetails section .first {
	border-bottom: 2px solid rgba(61, 57, 57, 0.3);
	border-right: none;
	padding: 20px 30px 0px;
}

.details .flexDivs .userTransactionDetails section .second {
	border-bottom: 2px solid rgba(61, 57, 57, 0.3);
	border-right: none;
	padding: 20px 30px 0px;
}

.details .flexDivs .userTransactionDetails section .third {
	padding: 20px 30px 0px;
}
/* -----------------userTransactionDetails----------------- */

/* -----------------finance-------------------- */
.details .flexDivs .financeBody {
	background-color: #fff;
	grid-row: 2;
	grid-column: 1;
}

.details .flexDivs .financeBody h2 {
	font: bold 12px sans-serif;
	color: #292525;
	padding: 25px 30px;
	border-bottom: 1px solid rgba(61, 57, 57, 0.3);
}

.details .flexDivs .financeBody > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
	padding: 10px 0 10px 30px;
}

.details .flexDivs .financeBody h3 {
	color: rgb(83, 74, 74);
	font-size: 12px;
}

.details .flexDivs .financeBody h4 {
	color: rgb(87, 70, 70);
	font-size: 16px;
	font-weight: bold;
}
/* -----------------finance-------------------- */
}
/* ---------------mobile responsivenesss styling ends here-------------------------- */