*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.pickersBody .gifLoad {
	width: 62%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pickersBody .gifLoad img {
	align-self: center;
	margin-left: 240px;
}

.pickers {
	width: 62%;
	min-height: 100vh;
	float: right;
	background-color: #e9ecef;
	margin-top: 60px;
}

.pickers h1 {
	margin: 20px 0 20px 40px;
	font: normal 1rem sans-serif;
}

/* -------pickers-shelf-------------- */
.pickers .pickerInfo {
	margin: 0 40px;
}

.pickers .pickerUsers {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 2em;
}

.pickers .pickerUsers div {
	background: #ffffff;
	padding: 30px 30px 10px 30px;
	border-radius: 6px;
	grid-column: 1/3;
}

.pickers .pickerUsers div header {
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
}

.pickers .pickerInfo .pickerUsers div h2 {
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.pickers .pickerInfo .pickerUsers .allUsers:hover {
	background: rgba(231, 229, 229, 0.646);
}

.pickers .pickerInfo .pickerUsers .allUsers h2 {
	font-size: 8px;
	border: 2px solid #17a2b8;
	color: #17a2b8;
	border-radius: 20px;
	padding: 6px 14px;
	margin: auto 0;
}

.pickers .pickerInfo .pickerUsers .allUsers h2:hover {
	border: 2px solid #1a8191;
	background: #1a8191;
	color: #ffffff;
	border-radius: 20px;
	cursor: pointer;
}

.pickers .pickerInfo .pickerUsers .allUsers #link {
	text-decoration: none;
	margin: auto 0;
}

.pickers .pickerInfo .pickerUsers .allUsers #link:focus,
.pickers .pickerInfo .pickerUsers .allUsers #link:active {
	outline: none;
}

.pickers .pickerUsers div > div {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
	padding: 10px;
}

.pickers .pickerUsers div > div hgroup {
	flex-grow: 2;
	margin-left: 30px;
}

.pickers .pickerUsers div hgroup h3 {
	font: bold 12px arial;
}

.pickers .pickerUsers div > div hgroup h4 {
	font: bold 10px arial;
	color: rgb(116, 114, 114);
}

.pickers .pickerUsers div div img {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(116, 114, 114);
	border-radius: 50%;
}
/* -------pickers-shelf-------------- */

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
	.gifLoad {
		width: 100%;
	}

	.gifLoad img {
		width: 50px !important;
	}

	.gifLoad h1 {
		font-size: 12px !important;
	}

	.pickers {
		width: 100%;
		clear: both;
	}

	.pickers h1 {
		margin: 40px 10px;
		font: normal 1rem sans-serif;
	}

	.pickers h2 {
		margin: 0px 0 10px 30px;
		font: normal 1.2rem sans-serif;
	}
}
