*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.pickersBody .gifLoad {
	width: 62%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pickersBody .gifLoad img {
	align-self: center;
	margin-left: 240px;
}

.pickers {
	width: 62%;
	min-height: 100vh;
	float: right;
	background-color: #e9ecef;
	margin-top: 60px;
}

.pickers h1 {
	margin: 20px 0 20px 40px;
	font: normal 1rem sans-serif;
}

/* -------pickers-shelf-------------- */
.pickers .pickerInfo {
	margin: 0 40px;
	margin-bottom: 40px;
}

.pickers .pickerUsers div,
.pickers .pickerCollectors div,
.pickers .pickerAgencies div {
	background: #ffffff;
	padding: 30px 30px 10px 30px;
	border-radius: 6px;
	grid-column: 1/3;
}

.pickers .pickerUsers div header,
.pickers .pickerCollectors div header,
.pickers .pickerAgencies div header {
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
}

.pickers .pickerInfo .pickerUsers div h2,
.pickers .pickerInfo .pickerAgencies div h2,
.pickers .pickerInfo .pickerCollectors div h2 {
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.pickers .pickerInfo .pickerUsers .allUsers:hover {
	background: rgba(231, 229, 229, 0.646);
}

.pickers .pickerInfo .pickerUsers .allUsers h2,
.pickers .pickerInfo .pickerCollectors .allUsers h2,
.pickers .pickerInfo .pickerAgencies .allUsers h2 {
	font-size: 8px;
	border: 2px solid #17a2b8;
	color: #17a2b8;
	border-radius: 20px;
	padding: 6px 14px;
	margin: auto 0;
}

.pickers .pickerInfo .pickerUsers .allUsers h2:hover {
	border: 2px solid #1a8191;
	background: #1a8191;
	color: #ffffff;
	border-radius: 20px;
	cursor: pointer;
}

.pickers .pickerInfo .pickerUsers .allUsers #link,
.pickers .pickerInfo .pickerCollectors .allUsers #link,
.pickers .pickerInfo .pickerAgencies .allUsers #link {
	text-decoration: none;
	margin: auto 0;
}

.pickers .pickerInfo .pickerUsers .allUsers #link:focus,
.pickers .pickerInfo .pickerUsers .allUsers #link:active {
	outline: none;
}

.pickers .pickerUsers div > div,
.pickers .pickerCollectors div > div,
.pickers .pickerAgencies div > div {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(189, 186, 186, 0.646);
	padding: 10px;
}

.pickers .pickerUsers div > div hgroup,
.pickers .pickerCollectors div > div hgroup,
.pickers .pickerAgencies div > div hgroup {
	flex-grow: 2;
	margin-left: 30px;
}

.pickers .pickerUsers div hgroup h3,
.pickers .pickerCollectors div hgroup h3,
.pickers .pickerAgencies div hgroup h3 {
	font: bold 12px arial;
}

.pickers .pickerUsers div > div hgroup h4,
.pickers .pickerCollectors div > div hgroup h4,
.pickers .pickerAgencies div > div hgroup h4 {
	font: bold 10px arial;
	color: rgb(116, 114, 114);
}

.pickers .pickerUsers div div img,
.pickers .pickerCollectors div div img,
.pickers .pickerAgencies div div img {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(116, 114, 114);
	border-radius: 50%;
}

.pickers .pickerCollectors,
.pickers .pickerAgencies {
	display: none;
}
/* -------pickers-shelf styling ends here-------------- */

	.pickersBody .pickers .flex #msg-shift-drop {
		display: none;
	}

/* -------------------------mobile responsiveness styling begins here----------------------------------- */

@media screen and (max-width: 768px) {
	/* -------------------responsive gif loader starts here------------------------------- */
	.pickersBody .gifLoad {
		width: 100% !important;
		height: 100vh !important;
	}

	.pickersBody .gifLoad img {
		margin: 0 auto;
	}
	/* -------------------responsive gif loader ends here------------------------------- */

	.pickers {
		width: 100%;
		clear: both;
		margin-top: 0px;
		padding-top: 30px;
	}

	.pickers h1 {
		margin: 25px 0 10px 20px;
	}

	/* -------responsive pickers-shelf-------------- */
	.pickers .pickerInfo {
		margin: 0 19px;
	}

	.pickers .pickerUsers div {
		padding: 20px 20px 10px;
	}

	.pickers .pickerInfo .pickerUsers div h2 {
		font-size: 8px;
		padding-bottom: 10px;
	}

	.pickers .pickerInfo .pickerUsers .allUsers h2 {
		font-size: 6px;
		padding: 5px 12px;
	}

	.pickers .pickerUsers div > div hgroup {
		margin-left: 20px;
	}

	.pickers .pickerUsers div hgroup h3 {
		font: bold 10px arial;
		margin-bottom: 0px;
		padding-top: 2px;
	}

	.pickers .pickerUsers div > div hgroup h4 {
		font: bold 8px arial;
	}

	.pickers .pickerUsers div div img {
		width: 30px;
		height: 30px;
		margin: auto 0;
	}

	.pickers .pickerCollectors,
	.pickers .pickerAgencies {
		margin-top: 20px;
		display: block;
	}
	/* -------responsive pickers-shelf styling ends here-------------- */

	.pickersBody .users {
		width: 50% !important;
		overflow-y: scroll;
		margin-top: 40px;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #1d2939;
		color: #fff;
		animation: animate 500ms ease-in-out;
	}

	.pickersBody .pickers .flex {
		display: flex;
		justify-content: space-between;
	}

	.pickersBody .pickers .flex #msg-shift-drop {
		display: block;
		margin-top: 25px;
		margin-right: 20px;
		color: gray;
	}

	.pickersBody .users .userDiv {
		margin-bottom: 20px;
		padding: 0 5px 20px 0;
	}

	.pickersBody .users .userDiv div p {
		font-size: 8px;
		color: #fff;
		letter-spacing: 0px;
	}

	.pickersBody .users .userDiv div h3 {
		font-size: 10px;
		color: rgb(0, 251, 255);
	}

	.pickersBody .users .userDiv p {
		font-size: 8px;
		margin: auto;
	}

	.pickersBody .users .userDiv #userLink:active,
	.pickersBody .users .userDiv #userLink:focus {
		text-decoration: none;
	}

	.pickersBody .users .userDiv #userLink {
		color: rgb(0, 251, 255);
		margin: auto;
		border: 1px solid rgb(0, 251, 255);
		border-radius: 12px;
		padding: 5px;
	}

	.users .userDiv div h3:hover {
		letter-spacing: 0px;
	}

	@keyframes animate {
		0% {
			opacity: 0;
			margin-left: 20px;
		}
		30% {
			opacity: 0.4;
			margin-left: 15px;
		}
		50% {
			opacity: 0.4;
			margin-left: 10px;
		}
		75% {
			opacity: 0.6;
			margin-left: 5px;
		}
		100% {
			opacity: 1;
			margin-left: 0px;
		}
	}
}
