*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.recycleBody Footer {
	background-color: #091520f3;
	color: #ddd;
}

.recyclers {
	width: 78%;
	float: right;
	background-color: #091520f3;
	color: #ddd;
	min-height: 90vh;
}

.recyclers h1 {
	margin: 10px 0 10px 27px;
	font: normal 1.2rem sans-serif;
}

.recyclers h2 {
	margin: 50px 0 10px 50px;
	font: normal 1.2rem sans-serif;
}

.recyclers .recycleList img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #fff;
	margin-right: 10px;
}

.recyclers .recycleList {
	display: flex;
	margin: 20px 50px;
	padding: 0px;
}

.recyclers .recycleList:hover {
	background-color: #43434466;
    padding: 0 15px 0 0;
	border-radius: 30px;
}

.recyclers .recycleList h3 {
	font: normal 1.2rem sans-serif;
	margin: auto 0;
}

.recyclers .recycleInfo ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.recyclers .recycleList #link {
	color: #ddd;
	text-decoration: none;
}

.recyclers .recycleList #link:hover {
	color: tomato;
}
