*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dotContainer {
	background-color: rgba(14, 35, 51, 0.972);
}

.load {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 250px;
	background: transparent;
	border: 1px solid;
	border-radius: 50%;
}

.load .loadText {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.load .loadText h1 {
	position: absolute;
	font-size: 22px;
	font-weight: bold;
	font-family: sans-serif;
	color: #fff;
	letter-spacing: 2px;
}

.load #spa {
	font-size: 32px;
	color: rgb(11, 236, 11);
}

.load .loadText h4 {
	font-size: 10px;
	position: absolute;
	font-weight: 900;
	text-transform: uppercase;
	color: rgb(11, 236, 11);
	letter-spacing: 4px;
	background-color: transparent;
	margin-top: 40px;
	margin-left: 70px;
}

.load::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(118, 118, 119, 0.782);
	border-top: .5px #fff;
	border-right: 2px solid #fff;
	border-radius: 50%;
	animation: animateCircle 4s linear infinite;
}

@keyframes animateCircle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* ----------------------dot animation starts here--------------------------------- */

.dotBody {
	width: 100%;
	height: 100vh;
	position: relative;
}

.dotArea {
	position: absolute;
	left: 60px;
	width: 90%;
	height: 100%;
	overflow: hidden;
}

.dotArea li {
	position: absolute;
	display: block;
	list-style: none;
	width: 3px;
	height: 3px;
	top: 50px;
	background-color: #fff;
}

.dotArea li:nth-child(1) {
	left: 20%;
	width: 3px;
	height: 3px;
	top: 150px;
}

.dotArea li:nth-child(2) {
	left: 40%;
	width: 3px;
	height: 3px;
	top: 50px;
}

.dotArea li:nth-child(3) {
	left: 0;
	width: 3px;
	height: 3px;
	top: 300px;
}

.dotArea li:nth-child(4) {
	left: 40%;
	width: 3px;
	height: 3px;
	top: 310px;
}

.dotArea li:nth-child(5) {
	left: 80%;
	width: 3px;
	height: 3px;
	top: 50px;
}

.dotArea li:nth-child(6) {
	left: 60%;
	width: 3px;
	height: 3px;
	top: 150px;
}

.dotArea li:nth-child(7) {
	left: 100%;
	width: 3px;
	height: 3px;
	top: 50px;
}

.dotArea li:nth-child(8) {
	left: 0;
	width: 3px;
	height: 3px;
	top: 540px;
}

.dotArea li:nth-child(9) {
	left: 20%;
	width: 3px;
	height: 3px;
	top: 430px;
}

.dotArea li:nth-child(10) {
	left: 40%;
	width: 3px;
	height: 3px;
	top: 540px;
}

.dotArea li:nth-child(11) {
	right: 0;
	width: 3px;
	height: 3px;
	top: 150px;
}

.dotArea li:nth-child(12) {
	right: 20%;
	width: 3px;
	height: 3px;
	top: 310px;
}

.dotArea li:nth-child(13) {
	right: 0;
	width: 3px;
	height: 3px;
	top: 430px;
}

.dotArea li:nth-child(14) {
	right: 40%;
	width: 3px;
	height: 3px;
	top: 450px;
}

.dotArea li:nth-child(15) {
	right: 20%;
	width: 3px;
	height: 3px;
	top: 550px;
}
