@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dash {
	width: 85%;
	float: right;
	background: #e5e5e5;
	min-height: 100vh;
	max-height: 100%;
}

.dash .main-dash {
	padding: 20px;
}

.main-dash header {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 43px;
	padding: 0 30px;
}

.main-dash header h1 {
    align-self: flex-end;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 32px;
	color: #262628;
}

.main-dash .aside {
	background: #0089b4;
	color: white;
	margin-left: auto;
	width: 180px;
	padding: 10px;
	border: 2px solid #007ca3;
	box-shadow: 0px 4px 10px rgba(0, 137, 180, 0.2);
	border-radius: 2px;
	display: flex;
	cursor: pointer;
}

.main-dash .aside:hover {
	background-color: #075066;
}

.main-dash .aside #addFnt {
	width: 20px;
	height: 20px;
}

.main-dash h3 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-left: 5px;
}

.main-dash .top-box-container {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.main-dash .top-box-container .first-box {
	position: relative;
}

.main-dash .first-box .first-box-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 25.95px 20px;
}

.main-dash .first-box .first-box-content .spent {
	display: flex;
	justify-content: space-between;
}

.spent h4 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
}

.spent h5 {
	width: 61px;
	height: 25px;
	background: #ffffff;
	border-radius: 45px;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding-top: 1.15px;
}

.first-box-content h2 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 32px;
	color: #ffffff;
	margin: 28.38px 0 11.48px 0;
}

/* ------------------------progress-bar---------------------- */
.progress-bar {
	position: relative;
	border-radius: 50px;
	width: 352.41px;
	height: 5.74px;
	background: #d2d2d2;
	opacity: 0.9;
	border-radius: 5px;
	margin-bottom: 36.88px;
}

.filler {
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
	background: #ffaa00;
	border-radius: 5px;
}
/* ------------------------progress-bar styling stops here---------------------- */

.first-box-content .amt {
	display: flex;
	justify-content: space-between;
}

.first-box-content .amt .tday h5 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	color: #ffffff;
}

.first-box-content .amt .tday h6 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #ffffff;
	text-align: right;
}

.first-box-content .amt .bdget h5 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #ffffff;
}

.first-box-content .amt .bdget h6 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	text-align: right;
	color: #ffffff;
}

.main-dash .top-box-container .brown-box {
	width: 276px;
	height: 101px;
	background: #cb8801;
	border: 2.25px solid #a66f01;
	box-sizing: border-box;
	box-shadow: 0px 4.49123px 11.2281px rgba(203, 135, 1, 0.2);
	border-radius: 6px;
	margin: 0 0 18px 0;
	position: relative;
}

.main-dash .top-box-container .brown-box .grad1 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 6px;
	right: 54px;
}

.main-dash .top-box-container .brown-box .grad2 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 30px;
	right: 65px;
}

.brown-box h3 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	color: #ffffff;
	margin-top: 29px;
	margin-bottom: 2px;
	margin-left: 9px;
}

.brown-box p {
	/* font-family: "Poppins", sans-serif; */
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
	margin-left: 9px;
}

.brown-box .view {
	display: flex;
	padding: 7px 12px;
	width: 78px;
	height: 34px;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 48px;
    margin: -15px 6px 11px auto;
    cursor: pointer;
}

.brown-box .view:hover {
    background-color: #ffffff;
}

.brown-box .view h6 {
	font-family: Avenir;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	margin-right: 5px;
}

/* ----------------------third box or green box---------------------- */
.main-dash .top-box-container .green-box {
	width: 276px;
	height: 101px;
	background: #367662;
	border: 2.24561px solid #3ba785;
	box-sizing: border-box;
	box-shadow: 0px 4.49123px 11.2281px rgba(203, 135, 1, 0.2);
	border-radius: 6px;
	margin: 0 0 18px 0;
	position: relative;
}

.main-dash .top-box-container .green-box .grad11 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 8px;
	right: 11px;
}

.main-dash .top-box-container .green-box .grad12 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 38px;
	right: 40px;
}

.green-box .green-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 0 10px;
	color: #ffffff;
	height: 100%;
}

.green-box .green-flex #harsh {
	border: 1px dashed #ffffff63;
	border-top: none;
	border-bottom: none;
	height: 100%;
	padding: 26px 10px;
}

.green-box .green-flex h2 {
	font-family: sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}

.green-box .green-flex h3 {
	font-family: sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
}

/* -----------------------------graduate container---------------------------------- */

.graduate {
	width: 200px;
	height: 221px;
	padding: 0 10px;
	background: #ffffff;
	box-shadow: 0px 4.26px 27.3921px rgba(0, 0, 0, 0.06), 0px 2.28268px 6.84803px rgba(0, 0, 0, 0.04),
		0px 0px 1.14134px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
}

.graduate > img {
	margin: 57px 0 13.65px 70px;
}

.graduate h2 {
	font-family: Google Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
    margin-bottom: 3px;
    color: #000000;
}

.graduate h4 {
	font-family: Google Sans;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	margin-bottom: 13px;
	color: #a6a6a6;
}

.graduate > div {
	display: flex;
	justify-content: space-between;
}

.graduate > div p {
	font-family: Google Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	margin-bottom: 12px;
}

/* ------------------------second and third progress-bar---------------------- */
.progress-bar2 {
	position: relative;
	border-radius: 50px;
	width: 180px;
	height: 5px;
	background: #d2d2d2;
	opacity: 0.9;
	border-radius: 5px;
	margin-bottom: 36.88px;
}

.filler2 {
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
	background: #367662;
	border-radius: 5px;
}

.progress-bar3 {
	position: relative;
	border-radius: 50px;
	width: 180px;
	height: 5px;
	background: #d2d2d2;
	opacity: 0.9;
	border-radius: 5px;
	margin-bottom: 36.88px;
}

.filler3 {
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
	background: #367662;
	border-radius: 5px;
}
/* ------------------------progress-bar styling stops here---------------------- */
