@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.budget-container {
	width: 85%;
	float: right;
	background: #e5e5e5;
	min-height: 100vh;
	max-height: 100%;
}

/* ---------------------------top-section styling starts here------------------------------- */
.top-section {
	height: 160px;
	width: 97%;
	border-radius: 5px;
	margin: 30px auto;
	background-image: url("../../assets/budget-topBar.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-section > div {
	margin: auto 40px;
	z-index: 99999;
}

.top-section > div h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	color: #ffffff;
	z-index: 99999;
}

.top-section > div h5 {
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 28px;
	color: #ffffff;
}

.top-section h4 {
	width: 126.95px;
	height: 40px;
	background: #ffaa00;
	border: 2px solid #da9100;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: #464242;
	margin: auto 59px;
	padding: 10px 0;
}

.top-section h4:hover {
	background: #ffbc21;
	border: 2px solid #ffbc21;
	color: #000000;
	cursor: pointer;
}

/* ---------------------------archive. recent button styling starts here------------------------------- */

.box-section {
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-section > div {
	display: flex;
}

.box-section > div h4 {
	height: 38.34px;
	background: #ffffff;
	border: 1px solid #e0e3e8;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #404040;
	margin-right: 7px;
	padding: 0;
	cursor: pointer;
}

.box-section > div h4:nth-child(1) {
	width: 138.2px;
	padding: 0 10px 0 40px;
}

.box-section > div h4:nth-child(2) {
	width: 140px;
	padding: 0 16px;
}

.box-section > div h4:hover {
	background: #ffffff;
}

.box-section h4 {
	width: 138.2px;
	height: 38.34px;
	background: #0089b4;
	border: 1px solid #0089b4;
	border-radius: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #ffffff;
	padding: 0 20px;
}

.box-section h4:hover {
	background: #01617e;
	cursor: pointer;
}

.box-section #icon {
	font-size: 20px;
	margin-top: 2px;
}

/* -------------------bugdet-section styling starts here------------------ */

.budget {
	margin: 30px 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.budget .category {
	flex-grow: 1;
}

/* ------------------category top styling--------------------- */
.budget .category .top {
	background: rgba(170, 171, 173, 0.685);
	box-shadow: 0px 15px 35px rgba(73, 87, 94, 0.05);
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 0 20px;
	height: 40px;
}

.budget .category .top h5 {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #5b5c5f;
	flex-grow: 0.8;
}

.budget .category .top > div {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.budget .category .top > div h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #5b5c5f;
}

/* ------------------category bottom styling--------------------- */
.budget .category .bottom {
	background-color: #ffffff;
	border-radius: 4px;
	padding: 10px 0;
}

.budget .category .bottom .shelf {
	display: flex;
	justify-content: space-between;
	padding: 20px 25px;
	border-bottom: 1px solid #ededed;
}

.budget .category .bottom .shelf:hover {
	background: rgba(170, 171, 173, 0.685);
	cursor: pointer;
}

.budget .category .bottom .shelf:nth-last-child(1) {
	border-bottom: none;
}

.budget .category .bottom .shelf div:nth-child(1) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 150px;
}

.budget .category .bottom .shelf div #inpt {
	height: 16px;
	width: 16px;
	border-radius: 2px;
	border: 2px solid #d5d5d5;
	cursor: pointer;
}

.budget .category .bottom .shelf div:nth-child(1) img {
	margin: 0 20px;
}

.budget .category .bottom .shelf div:nth-child(1) p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.budget .category .bottom .shelf div:nth-child(2) {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.budget .category .bottom .shelf div:nth-child(2) h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}
.budget .category .bottom .shelf div:nth-child(2) h4 {
	font-style: normal;
	margin: 0 15px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #009a5b;
}

#scd {
	color: #355691;
}

/* ------------------aside budget info------------------ */
.budget-info {
	width: 344.38px;
	background: #ffffff;
	border-radius: 5px;
	margin-left: 17.11px;
}

.budget-info .budget-info-content {
	padding: 40px 20px;
}

.budget-info .budget-info-content p {
	font-size: 14px;
}

.budget-info .budget-info-content p span {
	font-weight: bold;
	color: rgb(0, 161, 8);
}

.budget-info-content .chkBox {
	display: flex;
	margin: 10px 0 20px 0;
}

.budget-info-content .chkBox div {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.budget-info-content .chkBox div #h4 {
	width: 9.6px;
	height: 9.6px;
	background: #d9dae1;
	border-radius: 50%;
}

.budget-info-content .chkBox div:nth-child(2) #h4 {
	background: #0089b4;
}

.budget-info-content .chkBox div h6 {
	margin-left: -5px;
	padding-left: 10px;
}

.budget-info-content .sumSpent {
	display: flex;
	justify-content: space-between;
	background-color: #e8e8eb;
	padding: 20px;
	border-radius: 5px;
}

.budget-info-content .sumSpent div h6 {
	color: #19304d;
	font-size: 13.4454px;
}

.budget-info-content .sumSpent div h5 {
	color: #147efb;
	font-size: 14px;
	text-align: center;
}

.budget-info-content .sumSpent div:nth-child(2) h5 {
	font-size: 14px;
	color: #355691;
}

.edit-archive-bdgt {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.edit-archive-bdgt h3 {
	font-size: 14px;
	background: #0089b4;
	border: 2px solid #007ca3;
	box-shadow: 0px 4px 10px rgba(0, 137, 180, 0.2);
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	color: #ffffff;
}

.edit-archive-bdgt h3:hover {
	background: #005b77;
}

.edit-archive-bdgt h3:nth-child(2) {
	background-color: transparent;
	color: #0089b4;
}

.edit-archive-bdgt h3:nth-child(2):hover {
	background: #0089b4;
	color: #ffffff;
}

.budget-info .budget-error {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.budget-info .budget-error p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #666666;
	margin-top: 10px;
}

/* ------------------mobile responsiveness styling starts here--------------------- */
@media screen and (max-width: 760px) {
	.budget-container {
		width: 100%;
		clear: both;
	}

	/* ---------------------------top-section styling starts here------------------------------- */
	.parent {
		margin: 80px 20px 20px 20px;
	}

	.top-section {
		height: 120px;
		width: 100%;
		margin: 0px;
		background-position: center;
	}

	.top-section > div {
		margin: 0 0 0 10px;
		padding: 0px;
		height: 50%;
	}

	.top-section > div h2 {
		font-size: 18px;
	}

	.top-section > div h5 {
		font-size: 12px;
		line-height: 20px;
	}

	.top-section h4 {
		width: 120px;
		height: 40px;
		font-size: 12px;
		line-height: 14px;
		margin: auto 10px;
	}

	.box-section {
		padding: 0px;
	}

	.budget {
		margin: 20px 0px;
	}

	/* ------------------category bottom styling--------------------- */
	.budget .category .bottom {
		border-radius: 5px;
	}
	
	.budget .category .bottom .shelf {
		padding-left: 20px;
		padding-right: 20px;
	}

	.budget .category .bottom .shelf div:nth-child(1) {
		margin-right: 20px;
	}

	.budget .category .bottom .shelf div:nth-child(1) p {
		font-size: 12px;
		line-height: 0px;
	}

	.budget .category .top h5 {
		font-size: 14px;
	}

	.budget .category .bottom .shelf div:nth-child(1) img {
		margin: 0 6px;
		height: 20px;
	}

	/* ------------------aside budget info------------------ */
	.budget-info {
		width: 100%;
		margin: 20px 0 0 0;
		padding: 20px 0;
	}
}
