@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* ----------------------top-box container styling starts here------------------------------------- */
.top-box-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.top-box-container .first-box {
	width: 25vw;
	height: 28.7vh;
	background: url("../../assets/box.png") no-repeat;
	background-size: cover;
	border-radius: 5px;
}

.first-box .first-box-content {
	height: 100%;
	width: 100%;
	padding: 20px;
}

.first-box .first-box-content .spent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.spent h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 1.1rem;
	color: #ffffff;
}

.spent h5 {
	background: #ffffff;
	border-radius: 45px;
	font-size: .9rem;
	font-weight: 400;
	text-align: center;
	padding: 5px 18px;
}

.first-box-content h2 {
	font-weight: bold;
	font-size: 1.7rem;
	color: #ffffff;
	margin: 2rem 0 .6rem 0;
}

/* ------------------------progress-bar---------------------- */
.progress-bar {
	position: relative;
	border-radius: 50px;
	width: 100%;
	height: 5.74px;
	background: #d2d2d2;
	opacity: 0.9;
	border-radius: 5px;
	margin-bottom: 2rem;
}

.filler {
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
	background: #ffaa00;
	border-radius: 5px;
}
/* ------------------------progress-bar styling stops here---------------------- */

.first-box-content .amt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.first-box-content .amt .tday h5 {
	font-style: normal;
	font-weight: normal;
	font-size: .8rem;
	margin-bottom: 0;
	color: #ffffff;
}

.first-box-content .amt .tday h6 {
	font-style: normal;
	font-weight: normal;
	font-size: .7rem;
	color: #ffffff;
	text-align: right;
}

.first-box-content .amt .bdget h5 {
	font-style: normal;
	font-weight: normal;
	font-size: .8rem;
	color: #ffffff;
	margin-bottom: 0;
}

.first-box-content .amt .bdget h6 {
	font-style: normal;
	font-weight: normal;
	font-size: .7rem;
	text-align: right;
	color: #ffffff;
}

#dashLink {
	text-decoration: none;
	color: #000000;
}

.top-box-container .brown-green {
	height: 28.5vh;
	width: 23vw;
}

/* ----------------------------brown-box styling starts here---------------------------------- */

.top-box-container .brown-box {
	width: 100%;
	height: 46%;
	background: #cb8801;
	border: 2.25px solid #a66f01;
	box-shadow: 0px 4.49123px 11.2281px rgba(203, 135, 1, 0.2);
	border-radius: 5px;
	margin: 0 0 18px 0;
	position: relative;
}

.top-box-container .brown-box .grad1 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	opacity: 0.08;
	border-radius: 50%;
	top: 6px;
	right: 20%;
}

.top-box-container .brown-box .grad2 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	opacity: 0.08;
	border-radius: 50%;
	top: 30px;
	right: 25%;
}

.brown-box div h3 {
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 700;
	color: #ffffff;
	margin-top: 27px;
	margin-bottom: 0;
}

.brown-box div p {
	font-style: normal;
	font-weight: normal;
	font-size: .9rem;
	color: #ffffff;
	padding-left: 6px;
}

.brown-box .view {
	padding: 5px 10px;
	width: 78px;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 48px;
	margin: -8% .4rem 0 auto;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.brown-box .view:hover {
	background-color: #ffffff;
}

.brown-box .view h6 {
	font-size: .85rem;
	font-style: normal;
	font-weight: 500;
	margin: 0 5px 0 0;
}

.brown-box .view img {
	height: 3vh;
}

/* ----------------------------green-box styling starts here---------------------------------- */
.top-box-container .green-box {
	width: 100%;
	height: 46%;
	background: #367662;
	border: 2.24561px solid #3ba785;
	box-shadow: 0px 4.49123px 11.2281px rgba(203, 135, 1, 0.2);
	border-radius: 5px;
	position: relative;
}

.top-box-container .green-box .grad11 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	opacity: 0.08;
	border-radius: 50%;
	top: 8px;
	right: 11px;
}

.top-box-container .green-box .grad12 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	opacity: 0.08;
	border-radius: 50%;
	top: 30px;
	right: 40px;
}

.green-box .green-flex {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #ffffff;
}

.green-box .green-flex #harsh {
	border: 1px dashed #ffffff63;
	border-top: none;
	border-bottom: none;
	height: 100%;
	padding: 1.85rem 1.5rem;
}

.green-box .green-flex h2 {
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0;
}

.green-box .green-flex h3 {
	font-size: .9rem;
	font-weight: 400;
}

.graph {
	background: #ffffff;
	box-shadow: 0px 18.4132px 27.6197px rgba(0, 0, 0, 0.06), 0px 2.30164px 6.90493px rgba(0, 0, 0, 0.04),
		0px 0px 1.15082px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	grid-column: 3/1;
	padding: 50px 0;
}

/* ------------------mobile responsiveness styling starts here--------------------- */
@media screen and (max-width: 760px) {
	/* ----------------------top-box container styling starts here------------------------------------- */
	.top-box-container {
		grid-gap: 0;
		display: flex;
		flex-direction: column;
	}

	.top-box-container .first-box {
		width: 100%;
		height: 100%;
		margin-bottom: 1.5rem;
	}

	.first-box .first-box-content {
		padding: .8rem;
	}

	.spent h4 {
		font-size: 1rem;
	}

	.spent h5 {
		font-size: .9rem;
	}

	.first-box-content h2 {
		font-size: 1.2rem;
		margin-top: 1.5rem;
		margin-bottom: .3rem;
	}

	.first-box-content .amt .tday h5 {
		font-size: .8rem;
	}

	.first-box-content .amt .tday h6 {
		font-size: .7rem;
	}

	.first-box-content .amt .bdget h5 {
		font-size: .8rem;
	}

	.first-box-content .amt .bdget h6 {
		font-size: .7rem;
	}

	/* ------------------------progress-bar---------------------- */
	.progress-bar {
		width: 100%;
		height: .3rem;
		margin-bottom: 2rem;
	}

	/* ----------------------------brown-box styling starts here---------------------------------- */

	.top-box-container .brown-green {
		width: 100%;
	}

	.top-box-container .brown-box {
		width: 100%;
		height: auto;
		margin-bottom: 1.5rem ;
		padding: 1.5rem .2rem .9rem .2rem;
	}

	.brown-box div h3 {
		padding-left: .5rem;
		margin: 0;
	}

	.brown-box .view {
		margin: 0 .5rem 0 auto;
	}

	/* ----------------------------green-box styling starts here---------------------------------- */
	.top-box-container .green-box {
		width: 100%;
		height: auto;
		margin-bottom: 1.5rem;
	}

	.graph {
		width: 100%;
		margin: 3.5rem 0 0 0;
		padding: 1rem .4rem;
		/* grid-column: 1/3; */
	}

	.graph h1 {
		font-size: .9rem;
	}
}
