@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* ----------------------top-box container styling starts here------------------------------------- */
.top-box-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

.top-box-container .first-box {
	position: relative;
}

.first-box .first-box-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 25.95px 20px;
}

.first-box .first-box-content .spent {
	display: flex;
	justify-content: space-between;
}

.spent h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
}

.spent h5 {
	background: #ffffff;
	border-radius: 45px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding: 5px 18px;
}

.first-box-content h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 32px;
	color: #ffffff;
	margin: 28.38px 0 11.48px 0;
}

/* ------------------------progress-bar---------------------- */
.progress-bar {
	position: relative;
	border-radius: 50px;
	width: 352.41px;
	height: 5.74px;
	background: #d2d2d2;
	opacity: 0.9;
	border-radius: 5px;
	margin-bottom: 36.88px;
}

.filler {
	height: 100%;
	border-radius: inherit;
	transition: width .2s ease-in;
	background: #ffaa00;
	border-radius: 5px;
}
/* ------------------------progress-bar styling stops here---------------------- */

.first-box-content .amt {
	display: flex;
	justify-content: space-between;
}

.first-box-content .amt .tday h5 {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	color: #ffffff;
}

.first-box-content .amt .tday h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #ffffff;
	text-align: right;
}

.first-box-content .amt .bdget h5 {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #ffffff;
}

.first-box-content .amt .bdget h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 17px;
	text-align: right;
	color: #ffffff;
}

/* ----------------------------brown-box styling starts here---------------------------------- */

.top-box-container .brown-box {
	width: 24rem;
	height: 101px;
	background: #cb8801;
	border: 2.25px solid #a66f01;
	box-sizing: border-box;
	box-shadow: 0px 4.49123px 11.2281px rgba(203, 135, 1, 0.2);
	border-radius: 6px;
	margin: 0 0 18px 0;
	position: relative;
}

.top-box-container .brown-box .grad1 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 6px;
	right: 54px;
}

.top-box-container .brown-box .grad2 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 30px;
	right: 65px;
}

.brown-box div h3 {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	color: #ffffff;
	margin-top: 29px;
}

.brown-box p {
	font-style: normal;
	font-weight: normal;
	font-size: .9rem;
	color: #ffffff;
	padding-left: 6px;
}

.brown-box .view {
	display: flex;
	padding: 5px 10px;
	width: 78px;
	height: 34px;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 48px;
	margin: -10px 6px 11px auto;
	cursor: pointer;
}

.brown-box .view:hover {
	background-color: #ffffff;
}

.brown-box .view h6 {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	margin: auto 5px auto 0;
}

/* ----------------------------green-box styling starts here---------------------------------- */
.top-box-container .green-box {
	width: 24rem;
	height: 101px;
	background: #367662;
	border: 2.24561px solid #3ba785;
	box-sizing: border-box;
	box-shadow: 0px 4.49123px 11.2281px rgba(203, 135, 1, 0.2);
	border-radius: 6px;
	position: relative;
}

.top-box-container .green-box .grad11 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 8px;
	right: 11px;
}

.top-box-container .green-box .grad12 {
	position: absolute;
	width: 63px;
	height: 60px;
	background: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.08;
	border-radius: 50%;
	top: 38px;
	right: 40px;
}

.green-box .green-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 22px 0 16px;
	color: #ffffff;
}

.green-box .green-flex #harsh {
	border: 1px dashed #ffffff63;
	border-top: none;
	border-bottom: none;
	height: 100%;
	padding: 26px 1.5rem;
}

.green-box .green-flex h2 {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}

.green-box .green-flex h3 {
	font-size: .9rem;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
}

.top-box-container .graph {
	background: #ffffff;
	box-shadow: 0px 18.4132px 27.6197px rgba(0, 0, 0, 0.06), 0px 2.30164px 6.90493px rgba(0, 0, 0, 0.04),
		0px 0px 1.15082px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	grid-column: 3/1;
	padding: 50px 0;
}

/* ------------------mobile responsiveness styling starts here--------------------- */
@media screen and (max-width: 760px) {
	/* ----------------------top-box container styling starts here------------------------------------- */
	.top-box-container {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0px;
	}

	.top-box-container .first-box {
		grid-column: 1/3;
	}

	.top-box-container .first-box img {
		width: 100%;
		height: 250px;
	}

	.spent h4 {
		font-size: 16px;
	}

	.spent h5 {
		font-size: 16px;
	}

	.first-box-content h2 {
		font-size: 28px;
		margin-bottom: 20px;
	}

	.first-box-content .amt {
		display: flex;
		justify-content: space-between;
	}

	.first-box-content .amt .tday h5 {
		font-size: 18px;
	}

	.first-box-content .amt .tday h6 {
		font-size: 14px;
	}

	.first-box-content .amt .bdget h5 {
		font-size: 18px;
	}

	.first-box-content .amt .bdget h6 {
		font-size: 14px;
	}

	/* ------------------------progress-bar---------------------- */
	.progress-bar {
		width: 100%;
		height: 8px;
	}

	/* ----------------------------brown-box styling starts here---------------------------------- */

	.top-box-container .brown-green {
		width: 100%;
	}

	.top-box-container .brown-box {
		width: 100%;
		height: 150px;
		margin: 15px 0 20px 0px;
		padding: 0 10px;
	}

	.top-box-container .brown-box .grad1 {
		width: 90px;
		height: 90px;
	}

	.top-box-container .brown-box .grad2 {
		width: 90px;
		height: 90px;
		top: 50px;
		right: 90px;
	}

	.brown-box div h3 {
		font-size: 24px;
		margin-top: 50px;
		margin-bottom: 10px;
	}

	.brown-box p {
		font-size: 18px;
	}

	.brown-box .view {
		padding: 8px 10px 8px 12px;
		width: 95px;
		height: 40px;
	}

	.brown-box .view h6 {
		font-size: 18px;
	}

	/* ----------------------------green-box styling starts here---------------------------------- */
	.top-box-container .green-box {
		width: 100%;
		height: 130px;
		margin: 0 0 20px 0;
	}

	.top-box-container .green-box .grad11 {
		width: 80px;
		height: 80px;
	}

	.top-box-container .green-box .grad12 {
		width: 80px;
		height: 80px;
		top: 38px;
		right: 40px;
	}

	.green-box .green-flex #un {
		padding: 0 1rem;
	}

	.green-box .green-flex #trois {
		padding: 0 1rem;
	}

	.green-box .green-flex #harsh {
		padding: 40px 3rem;
	}

	.graph {
		width: 100%;
		padding: 20px;
	}
}
