@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

nav {
	background-color: white;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.09);
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav div {
	display: flex;
	align-items: center;
}

nav div h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 7px 12px;
	color: #00529b;
	border: 1px solid #00529b;
	border-radius: 50%;
	background: rgba(68, 123, 255, 0.11);
	margin-left: 80.21px;
}

nav div p {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	margin: 0 49.62px 0 13.46px;
}

nav #icon-bar {
	display: none;
}

.nav-sidemenu {
	display: none;
}

/* ------------------mobile responsiveness styling starts here--------------------- */
@media screen and (max-width: 760px) {
	nav {
		width: 100%;
		position: fixed;
		z-index: 999999;
	}

	nav #icon-bar {
		display: block;
		color: rgb(0, 0, 221);
		font-size: 24px;
		margin-right: auto;
		margin-left: 20px;
		cursor: pointer;
	}

	nav #nav-icon {
		width: 15px;
	}

	nav div h1 {
		font-size: 12px;
		line-height: 18px;
		padding: 6px 9px;
		margin-left: 30px;
	}

	nav div p {
		font-size: 14px;
		margin: 0 20px 0 10px;
	}

	/* -----------------------mobile sidemenu------------------------- */
	.nav-sidemenu {
		display: block;
		width: 40%;
		height: 93%;
		background: #ffffff;
		box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.09);
		padding: 10px 0;
		position: fixed;
		left: 0;
		top: 69px;
		z-index: 9999999;
	}

	.nav-sidemenu #side-logo {
		display: flex;
		margin: 10px auto 0 auto;
		width: 150px;
	}

	/* -------------------------------list styling starts here---------------------------------- */
	.nav-sidemenu ul {
		list-style: none;
	}

	.nav-sidemenu .nav-side-list .div {
		display: flex;
		width: 92%;
		margin: 10px auto;
		padding: 12px 15px;
		text-decoration: none;
		color: #000000;
	}

	.nav-side-list #link {
		margin-top: 40px;
	}

	.nav-sidemenu .nav-side-list .div:hover,
	.nav-sidemenu .nav-side-list .div:hover li {
		border-radius: 5px;
		background: #2e41c0;
		color: #ffffff;
		cursor: pointer;
	}

	.nav-sidemenu .nav-side-list .div li {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.01em;
	}

	.nav-sidemenu #icon {
		width: 18px;
		height: 18px;
		margin-right: 23px;
	}

	.active {
		background: #2e41c0;
		border-radius: 5px;
		width: 210px;
	}

	.active li {
		color: #ffffff;
	}

	/* -------------------------------list styling stops here---------------------------------- */

	footer {
		position: absolute;
		bottom: 0;
	}

	footer .footer-list div {
		width: 210px;
		display: flex;
		margin: 10px 5px;
		padding: 10px 10px;
	}

	footer .footer-list div:hover {
		border-radius: 5px;
		background: #2e41c0;
		color: #ffffff;
		cursor: pointer;
	}

	footer .footer-list div img {
		height: 18px;
		margin-right: 23px;
		margin-left: 15px;
		width: 16px;
		height: 16px;
	}

	footer .footer-list div li {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
	}

	footer #link {
		text-decoration: none;
		color: #000000;
	}

	footer .blue {
		position: relative;
		width: 70px;
		height: 100px;
		border: 7px solid #2564f7;
		opacity: 0.7;
		border-left: none;
		border-bottom: none;
		box-sizing: border-box;
		margin-top: 20px;
	}

	footer .orange {
		position: absolute;
		bottom: 0;
		width: 100px;
		height: 70px;
		border: 7px solid #ffaa00;
		opacity: 0.7;
		border-left: none;
		border-bottom: none;
		box-sizing: border-box;
	}
}
